{% extends "app/layout.html" %}

{% block content %}
{% load staticfiles %}
{% csrf_token %}

<!--<iframe src="/test" allow="autoplay" id="audio"></iframe>-->

<audio controls="controls" id="audio" style="display:none;">
    <source src="{% static 'sound/ring.mp3' %}" type="audio/mp3" />
</audio>
<div id="memo_detail_modal" class="modal fade">
    <div class="modal-dialog" style="width:1000px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span> <span class="sr-only">close</span></button>
                <h4>{{ _('Memo Detail') }}</h4>
               
                <div id="modalBody" class="modal-body" >
                    
                    <table class="table table-bordered table-hover table-striped" id="table_memo_detail">
                        <thead>
                            <tr>
                                <th>{{ _('No') }}</th>
                                <th>{{ _('Depart') }}</th>
                                <th>{{ _('Creator') }}</th>
                                <th>{{ _('Memo') }}</th>
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>

                    <br><br>
                    <div class="input-group edit_reception_title">
                        <span class="input-group-addon Edit_Reception_input-group-addon" id="basic-addon1">{{ _('Memo') }}</span>
                        <input type="text" class="form-control" id="new_memo_detail"/>
                        
                    </div>
                    <input type="button" value="{{_('Create Memo') }}" class="btn btn-primary save_cancel_btn" style="width:100px;" onclick="create_memo_detail()"/>
                </div>
               
            </div>
        </div>
    </div>

</div>

<div class="doctor_grid">
    <!--Patient_Information-->
    <div class="doctor_patient_info partition">
        <div class="status_table_title">
            <span class="btn btn-success" style="">{{ _('Patient Information') }}</span>
            
            <!--<div class="need_medical_report" style="background:none; display:none;" id="need_medical_report">{{_('Medical Report')}}</div>-->
            <!--<input type="button" class="btn btn-default" id="initial_report" value="{{ _('Initial Report') }}" style="float:right; "/>-->
            <input type="button" value="{{_('Medical Report') }}" class="btn btn-warning" id="need_medical_report" style="float:right; display:none;"/>
        </div>
        <table class="table" id="reception_table">
            <tr>
                <td>
                    <div class="input-group ">
                        <span class="input-group-addon doctor_patient_table_title" id="basic-addon1">{{ _('Chart No') }}</span>
                        <input type="hidden" id="patient_id" />
                        {{patient.id}}
                    </div>
                </td>
                <td>
                    <div class="input-group">
                        <span class="input-group-addon doctor_patient_table_title" style="width:70px" id="basic-addon1">{{ _('Name') }}</span>
                        {{patient.name_kor}}
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="input-group ">
                        <span class="input-group-addon doctor_patient_table_title" id="basic-addon1">{{ _('Date of Birth') }}</span>
                        {{patient.date_of_birth}}
                    </div>
                </td>
                <td>
                    <div class="input-group">
                        <span class="input-group-addon doctor_patient_table_title" style="width:70px; border:1px solid #ccc" id="basic-addon1">{{ _('Gender') }}</span>
                        {{patient.gender}}
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="input-group ">
                        <span class="input-group-addon doctor_patient_table_title" id="basic-addon1">{{ _('Phone') }}</span>
                        {{patient.phone}}
                    </div>
                </td>
                <td>
                    <div class="input-group ">
                        <span class="input-group-addon doctor_patient_table_title" style="width:70px" id="basic-addon1">{{ _('Address') }}</span>
                        {{patient.address}}
                    </div>
                </td>
            </tr>

            <tr>
                <td colspan="2">
                    <div class="input-group" style="width:100%;">
                        <span class="input-group-addon doctor_patient_table_title" id="basic-addon1">{{ _('Past history') }}</span>
                        {{history.past_history}}
                    </div>
                </td>
            </tr>

            <tr>
                <td colspan="2">
                    <div class="input-group " style="width:100%;">
                        <span class="input-group-addon doctor_patient_table_title" id="basic-addon1">{{ _('Familiy history') }}</span>
                        {{history.family_history}}
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div class="input-group " style="width:100%;">
                        <span class="input-group-addon doctor_patient_table_title" id="basic-addon1">{{ _('Memo') }}</span>
                        {{patient.memo}}
                        <div class="input-group-btn">
                            <input id="show_memo_detail" type="button" value="{{_('Detail Memo') }}" class="btn btn-primary save_cancel_btn" style="width:100px;" onclick="show_memo_detail()"/>
                        </div>
                    </div>
                </td>
            </tr>          
            <tr>
                <td></td>
                <td style="text-align:right;">
                    
                </td>
            </tr>
        </table>
            <div>
                <label class="need_something_check" style="margin-right:10px;"><input type="checkbox" id="need_invoice" /><text>{{_('Red Invoice') }}</text></label>
                <label class="need_something_check"><input type="checkbox" id="need_insurance" /><text>{{_('Insurance') }}</text></label>
                <input class="btn btn-primary" type="button" id="aggreement_list" value="{{ _('Sign List') }}" onclick="list_aggreement()"/>
                <select class="form-control" id="patient_mark">
                    <option value="" selected>--</option>
                    {% for data in patient_mark %}
                        <option value="{{ data.commcode }}">{{data.se1}}</option>
                    {% endfor%}
                </select>
            </div>
    </div>
    <!--Vital-->
    <!--<div class="doctor_vital partition">
        <div class="status_table_title">
            <span class="btn btn-success" style="margin-bottom:2px;">{{ _('Vital') }}</span>
        </div>
        <div class="Vitial_table_warp">
            <table class="table vital_table" id="Vitial_table">
                <thead>
                    <tr>
                        <th style="width: 60px;">{{ _('Date') }}</th>
                        <th>Wt(kg)</th>
                        <th>Ht(cm)</th>
                        <th>BP(mmHg)</th>
                        <th>BT(˚c)</th>
                        <th>RR</th>
                        <th>PR</th>
                    </tr>
                </thead>
                <tbody id="vital_get_body"></tbody>
                <tbody id="vital_set_body">
                    <tr>
                        <td>{{today_vital}}</td>
                        <td><input type="text" class="vital_input" id="vital_input_weight" /></td>
                        <td><input type="text" class="vital_input" id="vital_input_height" /></td>
                        <td><input type="text" class="vital_input" id="vital_input_blood_pressure" /></td>
                        <td><input type="text" class="vital_input" id="vital_input_blood_temperature" /></td>
                        <td><input type="text" class="vital_input" id="vital_input_breath" /></td>
                        <td><input type="text" class="vital_input" id="vital_input_pulse_rate" /></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
        -->
    <!--Waiting-->
    <div class="doctor_waiting partition">
        <div class="status_table_title">
            <span class="btn btn-success">{{ _('Reception Status') }}</span>

        </div>
        <div style="text-align:right">
            {{ _('Date') }}:
            {{ receptionsearch.date }}
            ~
            <input type="text" id="reception_waiting_date_end" class="form-control reception_waiting_date" aria-describedby="basic-addon1">

            {{ receptionsearch.progress }}
            <input type="text" class="form-control" id="search_patient"/>

            <input type="button" class="btn btn-default" value="{{ _('Search') }}" onclick="reception_waiting()" />
        </div>
        <div class="Rectption_Status_wrap">
            <table class="table reception_search_table" id="Rectption_Status">
                <thead>
                    <tr>
                        <th>{{ _('No') }}</th>
                        <th>{{ _('Chart No') }}</th>
                        <th>{{ _('Name') }}</th>
                        <th>{{ _('Date of Birth') }}</th>
                        <th>{{ _('Time') }}</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
    <!--Diagnosis-->
    <input type="hidden" id="status" />
    <div class="doctor_diagnosis partition">
        <div class="status_table_title">
            <span class="btn btn-success">{{ _('History Taking') }}</span>
            <div style="float:right;">

            <div class="dropdown" id="status_drop_down_warp">
                <button class="btn btn-default dropdown-toggle" type="button" id="status_drop_down" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <span id="status_drop_down_span">-</span>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li><a onclick="set_under_treatment_btn('new')">{{ _('Waiting') }}</a></li>
                    <li><a onclick="set_under_treatment_btn('under_treat')">{{ _('Under Treatement') }}</a></li>
                    <li><a onclick="set_under_treatment_btn('hold')">{{ _('Hold') }}</a></li>
                    <li><a onclick="set_under_treatment_btn('done')">{{ _('Done') }}</a></li>
                </ul>
            </div>

            <!--<input type="button" class="btn btn-default"  value="{{ _('Under Treatment ') }}" onclick="set_under_treatment()" id="is_under_treatment"/>-->
            <input type="button" class="btn btn-default"  value="{{ _('Cancel') }}" onclick="clear_page()"/>
            <input type="button" class="btn btn-primary" value="{{ _('Save') }}" onclick="diagnosis_save('')" />
            <!--<input type="button" class="btn btn-danger" value="{{ _('Done') }}" onclick="diagnosis_save('done')" />-->
            </div>


        </div>
        <div class="q2_items_div">
                <div style="background-image: url('{% if user.doctor.depart_id == 6 %}{% static 'img/DX_DERM.jpg'%}{% elif user.doctor.depart_id == 4 %}{% static 'img/DX_PS.jpg'%}{% elif user.doctor.depart_id == 8 %}{% static 'img/DENTAL.png'%}{% endif %}')" id="dx_img_show">
                </div>
                <div id="dx_img_div" >
                </div>
        </div>

        <div class="input-group diagnosis_history_taking">
            <span class="input-group-addon diagnosis_history_taking_title" id="basic-addon1">{{ _('Subjective Data') }}</span>
            <textarea id="chief_complaint" class="form-control diagnosis_history_taking_contents" style="height:30px;" aria-describedby="basic-addon1"></textarea>
        </div>
        <div class="input-group ">
            <span class="input-group-addon diagnosis_history_taking_title" id="basic-addon1">{{ _('Objective Data') }}</span>
            <textarea id="objective_data" class="form-control diagnosis_history_taking_contents" style="height:30px;" aria-describedby="basic-addon1"></textarea>
        </div>
        <div class="input-group ">
            <span class="input-group-addon diagnosis_history_taking_title" id="basic-addon1">{{ _('Assessment') }}</span>
            <textarea id="assessment" class="form-control diagnosis_history_taking_contents" style="height:30px;" aria-describedby="basic-addon1"></textarea>
        </div>
        <div class="input-group ">
            <span class="input-group-addon diagnosis_history_taking_title" id="basic-addon1">{{ _('Plan') }}</span>
            <textarea id="plan" class="form-control diagnosis_history_taking_contents" style="height:30px;" aria-describedby="basic-addon1"></textarea>
        </div>
        <div class="input-group">
            <span class="input-group-addon diagnosis_history_taking_title" id="basic-addon1">{{ _('Diagnosis') }}</span>
            <textarea id="diagnosis" class="form-control diagnosis_history_taking_contents" style="height:30px;" aria-describedby="basic-addon1"></textarea>
        </div>
        <div class="input-group" style="width:100%" >
            <span class="input-group-addon diagnosis_history_taking_title" id="basic-addon1">{{ _('ICD Code') }}</span>


            <span>
                <ul class="icd_ul" style="width:100%">
                    <li style="float:left; width:47%;"><input id="text_icd" class="form-control" style="width:100%; height:40px;" aria-describedby="basic-addon1"/>
                </li>
                    <li style="float:left; width:6%; height:40px; vertical-align:middle; border-bottom:1px solid #ccc;border-top:1px solid #ccc">
                    <div style=" text-align:center; width:100%; margin-top:10px;">
                        <i class="fa fa-lg fa-search"  ></i>
                    </div>
                        </li>
                    <li style="float:left;  width:47%;">
                        <input id="search_icd" class="form-control" style="width:100%; height:40px;" aria-describedby="basic-addon1"/>
                </li>
                </ul>
                </span>

            <!--<input id="text_icd" class="form-control diagnosis_history_taking_contents" style="height:30px;" aria-describedby="basic-addon1" />-->
            <input type="hidden" id="icd_code" />
        </div>
                        




        <div class="input-group">
            <span class="input-group-addon diagnosis_history_taking_title" id="basic-addon1" style="font-weight:700; color:#449d44; font-size:12px;">{{ _('Recommend') }}</span>
            <textarea id="recommendation" class="form-control diagnosis_history_taking_contents" style="height:30px;" aria-describedby="basic-addon1"></textarea>
        </div>
        

       
        <input type="file" id="uploadFile">
        <button onclick="upload_image(event)">Save Image</button>
        <img id="history_image" src="{{ image.url }}" alt="alt" style="width: 300px;"> 
       
    </div>
    <div class="order_list partition">
        <div class="status_table_title">
            <span class="btn btn-success" style="margin-bottom:5px;">{{ _('Order List') }}</span>
        </div>

        <input type="hidden" value="" id="selected_reception" />

        <div class="diagnosis_selected_method">
            <table class="table" id="diagnosis_selected">
                <thead>
                    <tr>
                        <th>{{ _('Code') }}</th>
                        <th>{{ _('Name') }}</th>
                        <th>{{ _('Unit') }}</th>
                        <th>{{ _('Amount') }}</th>
                        <th>{{ _('Days') }}</th>
                        <th style="text-align:center;">{{ _('Use') }}</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="diagnosis_selected_exam">
                </tbody>
                <tbody id="diagnosis_selected_test">
                </tbody>
                <tbody id="diagnosis_selected_precedure">
                </tbody>
                <tbody id="diagnosis_selected_medicine">
                </tbody>
            </table>
        </div>


        <!--<input type="button" class="btn btn-default medical_report" value="Medical Report" onclick="diagnosis_report()" />-->
        <div class="input-group fu_date">
            <span class="input-group-addon patient_table_title" id="basic-addon1">{{ _('Next Visiting Day') }}</span>
            {{reservation.date}}
        </div>

        <div style="float:right;">
            <div style="display:inline;">Total Price :</div>
            <div id="total_price" style="text-align:right; display:inline;">0 VND</div>
        </div>

    </div>
    <!--Past Diagnosis-->
    <div class="doctor_past_diagnosis partition">

        <div class="status_table_title">
            <span class="btn btn-success">{{ _('Past History') }}</span>
            <a class='btn btn-default btn-xs' href='javascript: void (0);' id="past_diagnosis_showlarge" ><i class='fa fa-lg fa-window-maximize'></i></a>
        </div>
        <div class="diagnosis_table_wrap" style="overflow:auto;  margin-top:5px;">
            <table class="table" id="diagnosis_table">
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
    
        <!--order-->
        <div class="diagnosis_select_method partition">
            <div class="status_table_title">
                <span class="btn btn-success" >{{ _('Check List') }}</span>
                <div style="float:right; ">
                    <input class="form-control" style="margin-left:0; width:150px; display:inline-block;" id="order_search"/>
                    <input type="button" class="btn"  value="{{ _('Search') }}" style="display:inline-block;"/>
                </div>
            </div>
            <div style="display:inline-block; margin-bottom:10px;" class="diagnosis_select_title">
                <input type="button" class="btn btn-primary" id="diagnosis_select_exam_title" value="{{ _('Exam Fee') }}" style="background:rgb(40,95,145); border-color:rgb(40,95,145)">
                <input type="button" class="btn btn-info" id="diagnosis_select_test_title" value="{{ _('Lab') }}">
                <input type="button" class="btn btn-success" id="diagnosis_select_precedure_title" value="{{ _('Procedure') }}">
                <input type="button" class="btn btn-primary" id="diagnosis_select_medicine_title" value="{{ _('Medicine') }}">
                <input type="button" class="btn btn-primary btn-hotpink" id="diagnosis_select_package_title" value="{{ _('Package') }}">
				<!-- {% if user.doctor.depart_id == 4 %} -->
                <input type="button" class="btn btn-warning" id="diagnosis_select_bundle_title" value="{{ _('Bundle Px') }}" />
				<!-- {% endif %} -->
            </div>
            <!--diagnosis_select_title-->

            <div class="diagnosis_select_contents" id="diagnosis_select_exam_contents">
                    <table class="table order_list_table diagnosis_select_contents_talbe" >
                        <thead>
                            <tr>
                                <th></th>
                                <th>{{ _('Code') }}</th>
                                <th>{{ _('Name') }}</th>
                                <th></th>
                                <th>{{ _('Price') }}</th>
                            </tr>
                        </thead>
                        
                        
                        <tbody class="contents_items" >
                            {% for exam in exam_list%}
                            <tr style="cursor:pointer;">
                                <td ><input type="hidden" id="exam_id" value="{{exam.id}}" /></td>
                                <td >{{exam.code}}</td>
                                <td >{{exam.name}}</td>
                                <td></td>
                                <td style="text-align:right;">{{exam.price}}</td>
                                <td style="display:none;">{{exam.name.lower}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                            
                    </table>
            </div>
            <div class="diagnosis_select_contents" id="diagnosis_select_test_contents">
                    <table class="table order_list_table diagnosis_select_contents_talbe" >
                        <thead>
                            <tr>
                                <th></th>
                                <th>{{ _('Code') }}</th>
                                <th>{{ _('Name') }}</th>
                                <th></th>
                                <th>{{ _('Price') }}</th>
                            </tr>
                        </thead>
                        
                        {% for class, contents in tests.items %}
                        <tbody>
                            <tr class="contents_class" style="cursor:pointer;">
                                <td colspan="5" style="font-weight:bold; color:rgb(20,135,130);" for="order_list_class_{{class}}" > 
                                    <label>+</label>
                                    {{ class }}
                                    <input type="checkbox" style="display:none;" class="order_list_class_chk" id="order_list_class_{{class}}"/>
                                    
                                </td>
                            </tr>
                        </tbody>
                            
                        <tbody class="contents_items" style="display:none;">
                            {% for test in contents %}
                            <tr style="cursor:pointer; ">
                                <td ></td>
                                <td >{{test.code}}</td>
                                <td >{{test.name}}</td>
                                <td></td>
                                <td style="text-align:right;">{{test.price}}</td>
                                <td style="display:none;">{{test.name.lower}}</td>
                            </tr>
                        
                            {% endfor %}
                            </tbody>
                        {% endfor %}
                       
                    </table>
            </div>
            <div class="diagnosis_select_contents" id="diagnosis_select_precedure_contents">
                <table class="table order_list_table diagnosis_select_contents_talbe" >
                        <thead>
                            <tr>
                                <th></th>
                                <th>{{ _('Code') }}</th>
                                <th>{{ _('Name') }}</th>
                                <th></th>
                                <th>{{ _('Price') }}</th>
                            </tr>
                        </thead>
                        <tbody class="contents_items" style="display:none;">
                            {% for precedure in precedure_short %}
                            <tr style="cursor:pointer;">
                                <td ></td>
                                <td >{{precedure.code}}</td>
                                <td >{{precedure.name}}</td>
                                <td></td>
                                <td style="text-align:right;">{{precedure.price}}</td>
                                <td style="display:none;">{{precedure.name.lower}}</td>
                            </tr>
                        
                            {% endfor %}
                        </tbody>
                        
                        {% for class, contents in precedures.items %}
                        <tbody>
                            <tr class="contents_class" style="cursor:pointer;">
                                <td colspan="5" style="font-weight:bold; color:rgb(20,135,130);"> 
                                    <label for="order_list_class_{{class}}" >+</label>
                                    <input type="checkbox" style="display:none;" class="order_list_class_chk" id="order_list_class_{{class}}"/>
                                    {{ class }}
                                </td>
                            </tr>
                        </tbody>
                        <tbody class="contents_items" style="display:none;">
                            {% for precedure in contents %}
                            <tr style="cursor:pointer;" title="{{precedure.name}}">
                                <td ></td>
                                <td >{{precedure.code}}</td>
                                <td >{{precedure.name}}</td>
                                <td></td>
                                <td style="text-align:right;">{{precedure.price}}</td>
                                <td style="display:none;">{{precedure.name.lower}}</td>
                                <td style="display:none;">{{precedure.is_pkg }}</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        {% endfor %}
                    </table>
            </div>



            {% if user.doctor.depart_id == 'sd' %}
            
            <div class="diagnosis_select_contents" id="diagnosis_select_medicine_contents">
                <table class="table" >    
                    <thead>
                        <tr>
                            <th></th>
                            <th>{{ _('Code') }}</th>
                            <th>{{ _('Name') }}</th>
                            <th>{{ _('Count') }}</th>
                            <th>{{ _('Price') }}</th>
                        </tr>
                    </thead>
                        <tbody class="contents_items" >
                            {% for medicine in medicines%}
                            <tr style="cursor:pointer;">
                                <td ></td>
                                <td >{{medicine.code}}</td>
                                <td >{{medicine.name}}</td>
                                <td class="medicine_count" id="medicine_count_{{ medicine.id }}">{{ medicine.inventory_count }}</td>
                                <td style="text-align:right;">{{medicine.price}}</td>
                                <td style="display:none;">{{medicine.name.lower}}</td>
                                <td style="display:none;">{{medicine.unit}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                </table>
            </div>

            {% else %}

            <div class="diagnosis_select_contents" id="diagnosis_select_medicine_contents">
                <table class="table diagnosis_select_contents_talbe" id="diagnosis_select_medicine">
                    <thead>
                        <tr>
                            <th></th>
                            <th>{{ _('Code') }}</th>
                            <th>{{ _('Name') }}</th>
                            <th>{{ _('Count') }}</th>
                            <th>{{ _('Price') }}</th>
                        </tr>
                    </thead>
                    {% autoescape off %}
                    {% for class, contents in medicines.items %}
                        <tbody>
                            <tr class="contents_class" style="cursor:pointer;" class_id="{{class}}">
                                <td colspan="5" style="font-weight:bold; color:rgb(20,135,130);"> 
                                    <label for="order_list_class_{{class}}" >+</label>
                                    <input type="checkbox" style="display:none;" class="order_list_class_chk" id="order_list_class_{{class}}"/>
                                    {{ class }}
                                </td>
                            </tr>
                        </tbody>
                        <tbody class="contents_items" id="contents_items_{{class}}" style="display:none;">
                            {% for medicine in contents %}
                            <tr style="cursor:pointer;" title="Name : {{medicine.name}}&#10;Ingredient : {{medicine.ingredient}}">
                                <td></td>
                                <td >{{medicine.code}}</td>
                                <td >{{medicine.name_display }} {% if medicine.red_invoice %} * {% endif %}</td>
                                <td class="medicine_count" id="medicine_count_{{ medicine.id }}">{{ medicine.inventory_count }}</td>
                                <td style="text-align:right;">{{medicine.price}}</td>
                                <td style="display:none;">{{medicine.name.lower}}|+@#|!${{medicine.name_display.lower}}</td>
                                <td style="display:none;">{{medicine.unit}}</td>
                            </tr>
                            {% endfor %}

                            </tbody>
                        {% endfor %}
                    {% endautoescape %}
                </table>
            </div>

            {% endif %}
            <!-- Package -->
            <div class="diagnosis_select_contents" id="diagnosis_select_package_contents">
                <table class="table diagnosis_select_contents_talbe" id="diagnosis_select_package">
                    <thead>
                        <tr>
                            <th>{{ _('Name') }}</th>
                            <th>{{ _('Count') }}</th>
                            <th>{{ _('History') }}
                                <input type="hidden" value="" id="selected_package_id" />
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        
                    </tbody>
                </table>
            </div>
			{% if user.doctor.depart_id == 4 %}
            <div id="diagnosis_select_bundle_contents" class="diagnosis_select_contents">
                <table class="table order_list_table" >
                        <thead>
                            <tr>
                                <th style="width:15px; font-weight:bold;"></th>
                                <th style="width:37px;">{{ _('Code') }}</th>
                                <th style="width:90px">{{ _('Name') }}</th>
                                <th style="width:70px; text-align:center;">{{ _('Price') }}</th>
                            </tr>
                        </thead>

                        {% for class, contents in bundle_set.items %}
                        <tbody>
                            <tr class="contents_class" style="cursor:pointer;">
                                <td colspan="4" style="font-weight:bold; color:rgb(20,135,130);"> 
                                    <label for="order_list_class_{{class}}" >+</label>
                                    <input type="checkbox" style="display:none;" class="order_list_class_chk" id="order_list_class_{{class}}"/>
                                    {{ class }}
                                </td>
                            </tr>
                        </tbody>
                        <tbody class="contents_items" style="display:none;">
                            {% for bundle in contents %}
                            <tr style="cursor:pointer;">
                                <td ></td>
                                <td >{{bundle.code}}</td>
                                <td >{{bundle.name}}</td>
                                <td style="text-align:right;"></td>
                                <td style="display:none;">{{bundle.name.lower}}</td>
                                <td style="display:none;">{{bundle.id}}</td>
                            </tr>
                        
                            {% endfor %}
                            </tbody>
                        {% endfor %}
                    </table>

            </div>
            {% endif %}
        </div>

</div>

<!--패키지 이력-->
<div id="patient_package_history_modal" class="modal fade">
    <div class="modal-dialog Edit_Reception_modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span> <span class="sr-only">close</span></button>
                <h4>{{ _('Package History') }}</h4>
                    <div id="modalBody" class="modal-body" >
                        <table class="table table-bordered table-hover table-striped" id="patient_package_history_list">
                            <thead>
                                <tr>
                                    <th>{{ _('No') }}</th>
                                    <th>{{ _('Patient Name') }}</th>
                                    <th>{{ _('Precedure Name') }}</th>
                                    <th>{{ _('Round') }}</th>
                                    <th>{{ _('Date Bought') }}</th>
                                    <th>{{ _('Date Used') }}</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>

                    </div>
                    <div style="margin-top:10px;">
                        <div style="text-align:right;">
                            <input type="button" value="{{ _('Close') }}" class="btn btn-default" data-dismiss="modal"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>

</div>


<!--과거 이력 -->
<div id="past_diagnosis_showlarge_modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span> <span class="sr-only">close</span></button>
                <h2>{{ _('Patient Past History') }}</h2>
                <div id="modalBody" class="modal-body" >
                    <table class="table" id="past_diagnosis_showlarge_table">
                        <tbody>
                    
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<!--싸인 목록-->
<div id="agreement_list_modal" class="modal fade">
    <div class="modal-dialog Edit_Reception_modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span> <span class="sr-only">close</span></button>
                <h4>{{ _('Sign List') }}</h4>
                    <div id="modalBody" class="modal-body">
                        <div>
                            <!--<input type="button" class="btn btn-primary" />-->
                        </div>
                        <table class="table table-bordered table-hover table-striped" id="aggreement_list">
                            <thead>
                                <tr>
                                    <th>{{ _('No') }}</th>
                                    <th>{{ _('Depart') }}</th>
                                    <th>{{ _('Type') }}</th>
                                    <th>{{ _('Date of Sign') }}</th>
                                    <th>{{ _('Manage') }}</th>
                                </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>

                    </div>
                    <div style="margin-top:10px;">
                        <div style="text-align:right;">
                            <input type="button" value="{{ _('Close') }}" class="btn btn-default" data-dismiss="modal"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>

</div>



<!--싸인 목록-->
<div id="sign_pad_modal" class="modal fade">
    <div class="modal-dialog Edit_Reception_modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span> <span class="sr-only">close</span></button>
                <div id="modalBody" class="modal-body" style="margin-top:15px;">
                    <input type="hidden" id="selected_sign_pad_id" value=""/>
                    <input type="hidden" id="selected_sign_pad_type" value=""/>
                    <div class="signature-pad--body" >
                        <canvas width="755" height="400" style="touch-action: none;" id="sign"></canvas>
                    </div>

                    <div class="signature-pad--footer" style="margin:15px 0px; vertical-align:middle;">
                        <div style="float:left;">
                            <button type="button" class="btn btn-warning" id="sign_pad_clear">{{ _('Clear') }}</button>
                            <!--<button type="button" class="btn btn-default" id="undo">{{ _('Undo') }}</button>-->
                        </div>
                        <div style="float:right;">
                            <!--
                            <button type="button" class="button save" data-action="save-png">Save as PNG</button>
                            <button type="button" class="button save" data-action="save-jpg">Save as JPG</button>
                            <button type="button" class="button save" data-action="save-svg">Save as SVG</button>
                            -->
                            <input type="button" value="{{ _('Save') }}" onclick="sign_pad_save()" class="btn btn-primary"/>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>



<script>
    function get_listener_path() {
        return '{% static 'js/event_listener.js' %}';
    }

    function get_department() {
        return {{ user.doctor.depart_id }};
    }

    function get_depart_img(){


        var str = ''
        {% if user.doctor.depart_id == 6 %}
        str = '/static/img/Medical_Exam_X.png';
        {% elif user.doctor.depart_id == 4 %}
        str = '/static/img/Medical_Exam_X.png';
        {% elif user.doctor.depart_id == 8 %}
        str = '/static/img/Medical_Exam_O.png';
        {% endif %}
        return str;
    }

    function show_memo_detail(){

        var id = $("#patient_package_registration_id").val();
        var patient_id = $("#patient_id").val();
        var depart_id = $("#depart_filter_reg").val();
        var doctor_id = $("#doctor_filter_reg").val();
    
        $.ajax({
            type: 'POST',
            url: '/receptionist/get_memo_detail/',
            data: {
                'csrfmiddlewaretoken': $('#csrf').val(),
    
                // 'id': id, //패키지 아이디
                'patient_id': patient_id,
                // 'depart_id': depart_id,
                // 'doctor_id': doctor_id,
    
                
            },
            dataType: 'Json',
            success: function (response) {
                if (response.result) {
                    $('#table_memo_detail > tbody ').empty();
                    for (var i = 0; i < response.datas.length; i++) {
                            var str = "<tr>"
        
                            str += " <td>" + (i + 1) + "</td>" +
                                "<td>" + response.datas[i]['depart'] + "</td>" +
                                "<td>" + response.datas[i]['creator'] + "</td>" +
                                "<td>" + response.datas[i]['memo'] + "</td>" +
                                "</tr>";
        
                        $('#table_memo_detail > tbody').append(str);
        
                    }
                    // alert(gettext('Hello'))
                    console.log(response.datas)
                    $('#memo_detail_modal').modal('show')
                }
    
            },
            error: function (request, status, error) {
                console.log("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
    
            },
        })
        // $('#memo_detail_modal').modal('show')
    }
    
    function create_memo_detail(){
    
        var patient_id = $("#patient_id").val();
        var memo = $('#new_memo_detail').val();
        $.ajax({
            type: 'POST',
            url: '/receptionist/create_memo_detail/',
            data: {
                'csrfmiddlewaretoken': $('#csrf').val(),
                'patient_id': patient_id,
                'memo': memo,
    
            },
            dataType: 'Json',
            success: function (response) {
                if (response.result) {
                    $('#table_memo_detail > tbody ').empty();
                    for (var i = 0; i < response.datas.length; i++) {
                            var str = "<tr>"
        
                            str += " <td>" + (i + 1) + "</td>" +
                                "<td>" + response.datas[i]['depart'] + "</td>" +
                                "<td>" + response.datas[i]['creator'] + "</td>" +
                                "<td>" + response.datas[i]['memo'] + "</td>" +
                                "</tr>";
        
                        $('#table_memo_detail > tbody').append(str);
        
                    }
                    // alert(gettext('Hello'))
                    console.log(response.datas)
                    $('#memo_detail_modal').modal('show');
                    $('#new_memo_detail').val('')
                }
    
            },
            error: function (request, status, error) {
                console.log("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
    
            },
        })
    }
</script>

{% endblock %}

{% block style %}

<link rel="stylesheet" href="{% static 'css/signpad.css'%}">
<link rel="stylesheet" type="text/css" href="{% static 'css/doctor_DERM.css' %}" />

<link rel="stylesheet" href="{% static 'css/ion.rangeSlider.min.css' %}" />
{% endblock %}

{% block scripts %}
<script src="{% static 'signature_pad-master/docs/js/signature_pad.umd.js'%}"></script>
<script src="{% static 'js/doctor_DERM.js' %}" type="text/javascript"></script>
<script src="{% static 'js/ion.rangeSlider.min.js' %}"></script>


{% endblock %}

