{% extends "app/layout.html" %}

{% block content %}
{% load staticfiles %}
{% csrf_token %}

<!--<iframe src="/test" allow="autoplay" id="audio"></iframe>-->

<audio controls="controls" id="audio" style="display:none;">
    <source src="{% static 'sound/ring.mp3' %}" type="audio/mp3" />
</audio>


<div class="doctor_grid">
    <div id="memo_detail_modal" class="modal fade">
        <div class="modal-dialog" style="width:1000px;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span> <span class="sr-only">close</span></button>
                    <h4>{{ _('Memo Detail') }}</h4>
                   
                    <div id="modalBody" class="modal-body" >
                        
                        <table class="table table-bordered table-hover table-striped" id="table_memo_detail">
                            <thead>
                                <tr>
                                    <th>{{ _('No') }}</th>
                                    <th>{{ _('Depart') }}</th>
                                    <th>{{ _('Creator') }}</th>
                                    <th>{{ _('Memo') }}</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
    
                            </tbody>
                        </table>
    
                        <br><br>
                        <div class="input-group edit_reception_title">
                            <span class="input-group-addon Edit_Reception_input-group-addon" id="basic-addon1">{{ _('Memo') }}</span>
                            <input type="text" class="form-control" id="new_memo_detail"/>
                            
                        </div>
                        <input id="create_memo_detail" type="button" value="{{_('Create Memo') }}" class="btn btn-primary save_cancel_btn" style="width:100px;" onclick="create_memo_detail()"/>
                    </div>
                   
                </div>
            </div>
        </div>
    
    </div>
    <!--Patient_Information-->
    <div class="doctor_patient_info partition">
        <div class="status_table_title">
            <span class="btn btn-success" style="">{{ _('Patient Information') }}</span>
            
            <!--<div class="need_medical_report" style="background:none; display:none;" id="need_medical_report">{{_('Medical Report')}}</div>-->
            <input type="button" class="btn btn-default" id="initial_report" value="{{ _('Initial Report') }}" style="float:right; "/>
            <input type="button" value="{{_('Medical Report') }}" class="btn btn-warning" id="need_medical_report" style="float:right; display:none;"/>
        </div>
        <table class="table" id="reception_table">
            <tr>
                <td>
                    <div class="input-group ">
                        <span class="input-group-addon doctor_patient_table_title" id="basic-addon1">{{ _('Chart No') }}</span>
                        <input type="hidden" id="patient_id" />
                        {{patient.id}}
                    </div>
                </td>
                <td>
                    <div class="input-group">
                        <span class="input-group-addon doctor_patient_table_title" style="width:70px" id="basic-addon1">{{ _('Name') }}</span>
                        {{patient.name_kor}}
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="input-group ">
                        <span class="input-group-addon doctor_patient_table_title" id="basic-addon1">{{ _('Date of Birth') }}</span>
                        {{patient.date_of_birth}}
                    </div>
                </td>
                <td>
                    <div class="input-group">
                        <span class="input-group-addon doctor_patient_table_title" style="width:70px; border:1px solid #ccc" id="basic-addon1">{{ _('Gender') }}</span>
                        {{patient.gender}}
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="input-group ">
                        <span class="input-group-addon doctor_patient_table_title" id="basic-addon1">{{ _('Phone') }}</span>
                        {{patient.phone}}
                    </div>
                </td>
                <td>
                    <div class="input-group ">
                        <span class="input-group-addon doctor_patient_table_title" style="width:70px" id="basic-addon1">{{ _('Address') }}</span>
                        {{patient.address}}
                    </div>
                </td>
            </tr>

            <tr>
                <td colspan="2">
                    <div class="input-group" style="width:100%;">
                        <span class="input-group-addon doctor_patient_table_title" id="basic-addon1">{{ _('Past history') }}</span>
                        {{history.past_history}}
                    </div>
                </td>
            </tr>

            <tr>
                <td colspan="2">
                    <div class="input-group " style="width:100%;">
                        <span class="input-group-addon doctor_patient_table_title" id="basic-addon1">{{ _('Familiy history') }}</span>
                        {{history.family_history}}
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div class="input-group " style="width:100%;">
                        <span class="input-group-addon doctor_patient_table_title" id="basic-addon1">{{ _('Memo') }}</span>
                        {{patient.memo}}
                        <div class="input-group-btn">
                            <input id="show_memo_detail" type="button" value="{{_('Detail Memo') }}" class="btn btn-primary save_cancel_btn" style="width:100px;" onclick="show_memo_detail()"/>
                        </div>
                    </div>
                </td>
            </tr>            
        </table>
    </div>
    <!--Vital-->
    <!--<div class="doctor_vital partition">
        <div class="status_table_title">
            <span class="btn btn-success" style="margin-bottom:2px;">{{ _('Vital') }}</span>
        </div>
        <div class="Vitial_table_warp">
            <table class="table vital_table" id="Vitial_table">
                <thead>
                    <tr>
                        <th style="width: 60px;">{{ _('Date') }}</th>
                        <th>Wt(kg)</th>
                        <th>Ht(cm)</th>
                        <th>BP(mmHg)</th>
                        <th>BT(˚c)</th>
                        <th>RR</th>
                        <th>PR</th>
                    </tr>
                </thead>
                <tbody id="vital_get_body"></tbody>
                <tbody id="vital_set_body">
                    <tr>
                        <td>{{today_vital}}</td>
                        <td><input type="text" class="vital_input" id="vital_input_weight" /></td>
                        <td><input type="text" class="vital_input" id="vital_input_height" /></td>
                        <td><input type="text" class="vital_input" id="vital_input_blood_pressure" /></td>
                        <td><input type="text" class="vital_input" id="vital_input_blood_temperature" /></td>
                        <td><input type="text" class="vital_input" id="vital_input_breath" /></td>
                        <td><input type="text" class="vital_input" id="vital_input_pulse_rate" /></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
        -->
    <!--Waiting-->
    <div class="doctor_waiting partition">
        <div class="status_table_title">
            <span class="btn btn-success">{{ _('Reception Status') }}</span>

        </div>
        <div style="text-align:right">
            {{ _('Date') }}:
            {{ receptionsearch.date }}
            {{ receptionsearch.progress }}
            <input type="text" class="form-control" id="search_patient"/>

            <input type="button" class="btn btn-default" value="{{ _('Search') }}" onclick="reception_waiting()" />
        </div>
        <div class="Rectption_Status_wrap">
            <table class="table reception_search_table" id="Rectption_Status">
                <thead>
                    <tr>
                        <th>{{ _('No') }}</th>
                        <th>{{ _('Chart No') }}</th>
                        <th>{{ _('Name') }}</th>
                        <th>{{ _('Date of Birth') }}</th>
                        <th>{{ _('Time') }}</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
    <!--Diagnosis-->
    <input type="hidden" id="status" />
    <div class="doctor_diagnosis partition">
        <div class="status_table_title">
            <span class="btn btn-success">{{ _('History Taking') }}</span>
            <div style="float:right;">
                <input type="button" class="btn btn-dark" value="{{ _('Cancel') }}" />
                <input type="button" class="btn btn-warning" value="{{ _('Save') }}" onclick="diagnosis_save('hold')" />
                <input type="button" class="btn btn-danger" value="{{ _('Done') }}" onclick="diagnosis_save('done')" />
            </div>

        </div>
        <div class="q2_items_div">
            <div style="background-image: url('{% static 'img/DX_AN.png'%}')" >
                {% for item in initial_report_q2 %}
                <div class="q2_items" data_code="{{ item.seq }}" data_seq="{{ item.se1 }}" id="dx_image_items_{{item.se1}}" style="background-image:url('{% static 'img/Medical_Exam_X.png'%}'); left:{{item.se4}}px; top:{{item.se5}}px; display:none; "></div>
                {% endfor %}
            </div>
        </div>

        <div class="input-group diagnosis_history_taking">
            <span class="input-group-addon diagnosis_history_taking_title" id="basic-addon1">{{ _('Subjective Data') }}</span>
            <textarea id="chief_complaint" class="form-control diagnosis_history_taking_contents" style="height:30px;" aria-describedby="basic-addon1"></textarea>
        </div>
        <div class="input-group ">
            <span class="input-group-addon diagnosis_history_taking_title" id="basic-addon1">{{ _('Objective Data') }}</span>
            <textarea id="objective_data" class="form-control diagnosis_history_taking_contents" style="height:30px;" aria-describedby="basic-addon1"></textarea>
        </div>
        <div class="input-group ">
            <span class="input-group-addon diagnosis_history_taking_title" id="basic-addon1">{{ _('Assessment') }}</span>
            <textarea id="assessment" class="form-control diagnosis_history_taking_contents" style="height:30px;" aria-describedby="basic-addon1"></textarea>
        </div>
        <div class="input-group ">
            <span class="input-group-addon diagnosis_history_taking_title" id="basic-addon1">{{ _('Plan') }}</span>
            <textarea id="plan" class="form-control diagnosis_history_taking_contents" style="height:30px;" aria-describedby="basic-addon1"></textarea>
        </div>
        <div class="input-group">
            <span class="input-group-addon diagnosis_history_taking_title" id="basic-addon1">{{ _('Diagnosis') }}</span>
            <textarea id="diagnosis" class="form-control diagnosis_history_taking_contents" style="height:30px;" aria-describedby="basic-addon1"></textarea>
        </div>
        <div class="input-group" style="width:100%" >
            <span class="input-group-addon diagnosis_history_taking_title" id="basic-addon1">{{ _('ICD Code') }}</span>


            <span>
                <ul class="icd_ul" style="width:100%">
                    <li style="float:left; width:47%;"><input id="text_icd" class="form-control" style="width:100%; height:40px;" aria-describedby="basic-addon1"/>
                </li>
                    <li style="float:left; width:6%; height:40px; vertical-align:middle; border-bottom:1px solid #ccc;border-top:1px solid #ccc">
                    <div style=" text-align:center; width:100%; margin-top:10px;">
                        <i class="fa fa-lg fa-search"  ></i>
                    </div>
                        </li>
                    <li style="float:left;  width:47%;">
                        <input id="search_icd" class="form-control" style="width:100%; height:40px;" aria-describedby="basic-addon1"/>
                </li>
                </span>

            <!--<input id="text_icd" class="form-control diagnosis_history_taking_contents" style="height:30px;" aria-describedby="basic-addon1" />-->
            <input type="hidden" id="icd_code" />
        </div>
                        




        <div class="input-group">
            <span class="input-group-addon diagnosis_history_taking_title" id="basic-addon1" style="font-weight:700; color:#449d44; font-size:12px;">{{ _('Recommend') }}</span>
            <textarea id="recommendation" class="form-control diagnosis_history_taking_contents" style="height:30px;" aria-describedby="basic-addon1"></textarea>
        </div>
    </div>
    <div class="order_list partition">
        <div class="status_table_title">
            <span class="btn btn-success" style="margin-bottom:5px;">{{ _('Order List') }}</span>
        </div>

        <input type="hidden" value="" id="selected_reception" />

        <div class="diagnosis_selected_method">
            <table class="table" id="diagnosis_selected">
                <thead>
                    <tr>
                        <th>{{ _('Code') }}</th>
                        <th>{{ _('Name') }}</th>
                        <th>{{ _('Unit') }}</th>
                        <th>{{ _('Amount') }}</th>
                        <th>{{ _('Days') }}</th>
                        <th style="text-align:center;">{{ _('Use') }}</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="diagnosis_selected_exam">
                </tbody>
                <tbody id="diagnosis_selected_test">
                </tbody>
                <tbody id="diagnosis_selected_precedure">
                </tbody>
                <tbody id="diagnosis_selected_medicine">
                </tbody>
            </table>
        </div>


        <!--<input type="button" class="btn btn-default medical_report" value="Medical Report" onclick="diagnosis_report()" />-->
        <div class="input-group fu_date">
            <span class="input-group-addon patient_table_title" id="basic-addon1">{{ _('Next Visiting Day') }}</span>
            {{reservation.date}}
        </div>

        <div style="float:right;">
            <div style="display:inline;">Total Price :</div>
            <div id="total_price" style="text-align:right; display:inline;">0 VND</div>
        </div>

    </div>
    <!--Past Diagnosis-->
    <div class="doctor_past_diagnosis partition">

        <div class="status_table_title">
            <span class="btn btn-success">{{ _('Past History') }}</span>
            <a class='btn btn-default btn-xs' href='javascript: void (0);' id="past_diagnosis_showlarge" ><i class='fa fa-lg fa-window-maximize'></i></a>
        </div>
        <div class="diagnosis_table_wrap" style="overflow:auto; height:140px; margin-top:5px;">
            <table class="table" id="diagnosis_table">
                <tbody>
                </tbody>
            </table>
        </div>
    </div>

    <!--order-->
    <div class="diagnosis_select_method partition">
        <div class="status_table_title">
            <span class="btn btn-success">{{ _('Check List') }}</span>
            <div style="float:right; ">
                <input class="form-control" style="margin-left:0; width:150px; display:inline-block;" id="order_search" />
                <input type="button" class="btn" value="{{ _('Search') }}" style="display:inline-block;" />
            </div>
        </div>
        <div style="display:inline-block; margin-bottom:10px;" class="diagnosis_select_title">
            <input type="button" class="btn btn-primary" id="diagnosis_select_exam_title" value="Exam Fee" style="background:rgb(40,95,145); border-color:rgb(40,95,145)"/>
            <input type="button" class="btn btn-info" id="diagnosis_select_test_title" value="Lab"/>
            <input type="button" class="btn btn-success" id="diagnosis_select_precedure_title" value="Precedure"/>
            <input type="button" class="btn btn-warning" id="diagnosis_select_pm_radio_title" value="Radiography"/>
            <input type="button" class="btn btn-primary" id="diagnosis_select_medicine_title" value="Medicine">
        </div>
        <!--diagnosis_select_title-->

        <div class="diagnosis_select_contents" id="diagnosis_select_exam_contents">
            <table class="table order_list_table">
                <thead>
                    <tr>
                        <th style="width:15px; font-weight:bold;"></th>
                        <th style="width:37px;">{{ _('Code') }}</th>
                        <th style="width:90px;">{{ _('Name') }}</th>
                        <th style="width:70px;text-align:center; ">{{ _('Price') }}</th>
                    </tr>
                </thead>


                <tbody class="contents_items">
                    {% for exam in exam_list%}
                    <tr style="cursor:pointer;">
                        <td><input type="hidden" id="exam_id" value="{{exam.id}}" /></td>
                        <td>{{exam.code}}</td>
                        <td>{{exam.name}}</td>
                        <td style="text-align:right;">{{exam.price}}</td>
                        <td style="display:none;">{{exam.name.lower}}</td>
                    </tr>
                    {% endfor %}
                </tbody>

            </table>
        </div>

        <div class="diagnosis_select_contents" id="diagnosis_select_test_contents">
                    <table class="table order_list_table" >
                        <thead>
                            <tr>
                                <th style="width:15px; font-weight:bold;"></th>
                                <th style="width:37px;">{{ _('Code') }}</th>
                                <th style="width:90px;">{{ _('Name') }}</th>
                                <th style="width:70px;text-align:center; ">{{ _('Price') }}</th>
                            </tr>
                        </thead>
                        
                        {% for class, contents in tests.items %}
                        <tbody>
                            <tr class="contents_class" style="cursor:pointer;">
                                <td colspan="4" style="font-weight:bold; color:rgb(20,135,130);" for="order_list_class_{{class}}" > 
                                    <label>+</label>
                                    {{ class }}
                                    <input type="checkbox" style="display:none;" class="order_list_class_chk" id="order_list_class_{{class}}"/>
                                    
                                </td>
                            </tr>
                        </tbody>
                            
                        <tbody class="contents_items" style="display:none;">
                            {% for test in contents %}
                            <tr style="cursor:pointer;">
                                <td ></td>
                                <td >{{test.code}}</td>
                                <td >{{test.name}}</td>
                                <td style="text-align:right;">{{test.price}}</td>
                                <td style="display:none;">{{test.name.lower}}</td>
                            </tr>
                        
                            {% endfor %}
                            </tbody>
                        {% endfor %}
                            
                        <!--
                            <tbody class="contents_items">
                            {% for test in tests %}
                            <tr style="cursor:pointer;">
                                <td ></td>
                                <td >{{test.code}}</td>
                                <td >{{test.name}}</td>
                                <td style="text-align:right;">{{test.price}}</td>
                                <td style="display:none;">{{test.name.lower}}</td>
                            </tr>
                        
                            {% endfor %}
                            </tbody>
                            -->
                    </table>
            </div>

        <div class="diagnosis_select_contents" id="diagnosis_select_precedure_contents">
            <table class="table order_list_table">
                <thead>
                    <tr>
                        <th style="width:15px; font-weight:bold;"></th>
                        <th style="width:37px;">{{ _('Code') }}</th>
                        <th style="width:90px;">{{ _('Name') }}</th>
                        <th style="width:70px;text-align:center; ">{{ _('Price') }}</th>
                    </tr>
                </thead>
                <tbody class="contents_items">
                    {% for precedure in precedures %}
                    <tr style="cursor:pointer;">
                        <td><input type="hidden" id="precedure_id" value="{{precedure.id}}" /></td>
                        <td>{{precedure.code}}</td>
                        <td>{{precedure.name}}</td>
                        <td style="text-align:right;">{{precedure.price}}</td>
                        <td style="display:none;">{{precedure.name.lower}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>


        <div class="diagnosis_select_contents" id="diagnosis_select_pm_radio_contents">
                <table class="table" >    
                    <thead>
                        <tr>
                            <th style="width:15px; font-weight:bold;"></th>
                            <th style="width:37px;">{{ _('Code') }}</th>
                            <th style="width:90px;">{{ _('Name') }}</th>
                            <th style="width:70px; text-align:center;">{{ _('Price') }}</th>
                        </tr>
                    </thead>
                        <tbody class="contents_items" >
                            {% for radiography in radiographys %}
                            <tr style="cursor:pointer;">
                                <td><input type="hidden" id="radiography_id" value="{{radiography.id}}" /></td>
                                <td>{{radiography.code}}</td>
                                <td>{{radiography.name}}</td>
                                <td style="text-align:right;">{{radiography.price}}</td>
                                <td style="display:none;">{{radiography.name.lower}}</td>
                            </tr>

                            {% endfor %}
                        </tbody>
                </table>
            </div>
        {% autoescape off %}
        <div class="diagnosis_select_contents" id="diagnosis_select_medicine_contents">
                <table class="table" >    
                    <thead>
                        <tr>
                            <th style="width:15px; font-weight:bold;"></th>
                            <th style="width:37px;">{{ _('Code') }}</th>
                            <th style="width:90px;">{{ _('Name') }}</th>
                            <th style="width:70px; text-align:center;">{{ _('Price') }}</th>
                        </tr>
                    </thead>
                        <tbody class="contents_items" >
                            {% for medicine in medicines%}
                            <tr style="cursor:pointer;">
                                <td ></td>
                                <td >{{medicine.code}}</td>
                                <td >{{medicine.name}}</td>
                                <td style="text-align:right;">{{medicine.price}}</td>
                                <td style="display:none;">{{medicine.name.lower}}</td>
                                <td style="display:none;">{{medicine.unit}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                </table>
            </div>
        {% endautoescape %}
    </div>

</div>



<div id="medical_exam_EventModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span> <span class="sr-only">close</span></button>
                <h2>{{ _('Initial Report') }}</h2>
                <div id="modalBody" class="modal-body" >
                    <div class="medical_exam_pm">
                        <div>
                            <div>
                                <p>{{ _('활력징후') }}</p>
                                <table class="table table_vital">
                                    <tr>
                                        <td>
                                            {{ _('키') }} : 
                                        </td>
                                        <td>
                                            <input type="text" class="form-control input_report_vital" id="input_vital_height" /> cm
                                        </td>
                                        <td>
                                            {{ _('몸무게') }} : 
                                        </td>
                                        <td>
                                            <input type="text" class="form-control input_report_vital" id="input_vital_weight" /> kg
                                        </td>

                                        <td>
                                            {{ _('BMI') }} : 
                                        </td>
                                        <td>
                                            <input type="text" class="form-control input_report_vital" id="input_vital_bmi" /> kg/m2
                                        </td>
                                        <td>
                                            {{ _('혈압') }} : 
                                        </td>
                                        <td>
                                            <input type="text" class="form-control input_report_vital" id="input_vital_bp" /> mmHg
                                        </td>
                                        <td>
                                            {{ _('체온') }} : 
                                        </td>
                                        <td>
                                            <input type="text" class="form-control input_report_vital" id="input_vital_bt" /> ˚C
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <br/>
                            <div class="q2_items_div">
                                <div style="background-image: url('{% static 'img/DX_AN.png'%}')" >
                                    {% for item in initial_report_q2 %}
                                    <div class="q2_items" data_code="{{ item.seq }}" data_seq="{{ item.se1 }}" id="q2_items_{{item.se1}}" style="background-image:url('{% static 'img/Medical_Exam_X.png'%}'); left:{{item.se4}}px; top:{{item.se5}}px; display:none; "></div>
                                    {% endfor %}
                                </div>
                            </div>
                            <br />
                            <p class="question_item">{{ _('2. 현재 불편한 부위와 증상에 표시하여 주세요.') }}</p>
                            <table class="table">
                                {% for data in initial_report_q2_title%}
                                {% if forloop.counter0|divisibleby:4 %}
                                <tr>
                                {% endif %}
                                    <td>
                                        <input type="checkbox" id="pain_location_text_{{ data.seq }}" class="pain_location_text" value="{{ data.seq }}" data_code="{{ data.seq }}"/>
                                        <label for="pain_location_text_{{ data.seq }}">{{ data.se2 }}</label>
                                        {% if data.se6 != 'hidden' %}
                                        <select class="q2_item_select" id="q2_item_select1_{{ data.seq }}" data_code="{{ data.seq }}">
                                            <option value="" selected>선택</option>
                                            <option value="0">앞</option>
                                            <option value="1">뒤</option>
                                        </select>
                                        {% else %}
                                        <select class="q2_item_select" id="q2_item_select1_{{ data.seq }}" style="display:none;" data_code="{{ data.seq }}">
                                            <option value="0" selected></option>
                                        </select>
                                        {% endif %}
                                        <select class="q2_item_select q2_item_select2" id="q2_item_select2_{{ data.seq }}" data_code="{{ data.seq }}">
                                            <option value="" selected>선택</option>
                                            <option value="0">좌</option>
                                            <option value="2">우</option>
                                            {% if data.se7 == 'middle' %}
                                            <option value="1">가운데</option>
                                            {% endif %}
                                        </select>
                                    </td>
                                
                                {% endfor %}
                                    <td></td>
                                    </table>
                            <!--
                            <table class="table">
                                <tr>
                                    <td style="vertical-align:middle;">{{_('2)방향')}}</td>
                                    <td><input type="checkbox" id="pain_location_text_20" class="pain_location_text" value="20"/><label for="pain_location_text_20">{{ _('왼쪽') }}</label></td>
                                    <td><input type="checkbox" id="pain_location_text_21" class="pain_location_text" value="21"/><label for="pain_location_text_21">{{ _('가운데') }}</label></td>
                                    <td><input type="checkbox" id="pain_location_text_22" class="pain_location_text" value="22"/><label for="pain_location_text_22">{{ _('오른쪽') }}</label></td>
                                </tr>
                            </table>
                                -->
                            <table class="table">
                                <tr>
                                    <td rowspan="2" style="vertical-align:middle;">{{ _('3)증상') }}</td>
                                    <td><input type="checkbox" id="pain_location_text_23" class="pain_location_text" value="23"/><label for="pain_location_text_23">{{ _('당긴다') }}</label></td>
                                    <td><input type="checkbox" id="pain_location_text_24" class="pain_location_text" value="24"/><label for="pain_location_text_24">{{ _('저리다') }}</label></td>
                                    <td><input type="checkbox" id="pain_location_text_25" class="pain_location_text" value="25"/><label for="pain_location_text_25">{{ _('쑤신다') }}</label></td>
                                    <td><input type="checkbox" id="pain_location_text_26" class="pain_location_text" value="26"/><label for="pain_location_text_26">{{ _('감각이 둔하다') }}</label></td>
                                    <td><input type="checkbox" id="pain_location_text_27" class="pain_location_text" value="27" /><label for="pain_location_text_27">{{ _('마비가 된다') }}</label></td>
                                </tr>
                                <tr>
                                    <td>{{ _('발병시기') }}</td>
                                    <td colspan="4"><input class="form-control" type="text" id="occurred_date"></td>
                                </tr>
                            </table>

                        </div>
                        <div>
                            <p class="question_item">{{ _('3. 최근 6개월 내 현재 증상으로 치료 받은 내역을 체크해주세요 (한의원 포함) ') }}</p>
                            <input type="checkbox" id="treatment_history_yn" /><label for="treatment_history_yn">{{ _('없음') }}</label>
                            <table class="table">
                                <tr>
                                    <td>
                                        <input type="checkbox" id="physiotherapy_yn" /><label for="physiotherapy_yn">{{ _('물리치료') }}</label>
                                        <input type="text" id="physiotherapy_count" class="form-control" />{{ _('회') }}</td>
                                    <td>
                                        <input type="checkbox" id="injection_treatment_yn" /><label for="injection_treatment_yn">{{ _('주사치료') }}</label>
                                        <input type="text" id="injection_treatment_count" class="form-control" />{{ _('회') }}
                                    </td>
                                    <td>
                                        <input type="checkbox" id="taking_medicine_yn" /><label for="taking_medicine_yn">{{ _('약복용') }}</label>
                                        <input type="text" id="taking_medicine_count" class="form-control"/>{{ _('회') }}</td>
                                    <td>
                                        <input type="checkbox" id="acupuncture_yn" /><label for="acupuncture_yn">{{ _('침치료') }}</label>
                                        <input type="text" id="acupuncture_count" class="form-control"/>{{ _('회') }}
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div>
                            <p class="question_item">{{ _('4. 통증 정도가 어느정도인지 표시해주세요.') }}</p>
                             <input type="text" class="js-range-slider" id="pain_slider" name="my_range" value="" />
                            <ul class="ul_pain_slider_img" >
                                <li style="margin-left:-5px;">😄</li>
                                <li>😃</li>
                                <li>😐</li>
                                <li>😟</li>
                                <li>😩</li>
                                <li style="width:1px;">😫</li>
                            </ul>

                        </div>
                        <br />
                        <div>
                            <p class="question_item">{{ _('5. 한번이라도 수술 받으신 적이 있나요 ?') }}</p>
                            <table class="table">
                                <tr>
                                    <td style="width:350px;">
                                        <input type="radio" id="operation_yes" name="operation_yn" value="1"/><label for="operation_yes">{{ _('예') }}</label>
                                        <input type="text" id="operation_year" class="form-control" />{{ _('년도') }}
                                        ,
                                        {{ _('수술명') }}<input type="text" id="operation_name" class="form-control" />
                                    </td>
                                    <td ><input type="radio" id="operation_no" name="operation_yn" value="0"/><label for="operation_no">{{ _('아니오') }}</label></td>
                                </tr>
                            </table>
                        </div>
                        <div>
                            <p class="question_item">{{ _('6. 위 증상과 관련된 어떤 검사를 하셨는지요?') }}</p>
                            <table class="table">
                                <tr>
                                    <td><input type="checkbox" id="test_kinds_1" class="test_kinds" value="1"/><label for="test_kinds_1">{{ _('MRI') }}</label></td>
                                    <td><input type="checkbox" id="test_kinds_2" class="test_kinds" value="2"/><label for="test_kinds_2">{{ _('CT') }}</label></td>
                                    <td><input type="checkbox" id="test_kinds_3" class="test_kinds" value="3"/><label for="test_kinds_3">{{ _('단순방사선촬영') }}</label></td>
                                    <td><input type="checkbox" id="test_kinds_4" class="test_kinds" value="4"/><label for="test_kinds_4">{{ _('근전도검사') }}</label></td>
                                    <td><input type="checkbox" id="test_kinds_5" class="test_kinds" value="5"/><label for="test_kinds_5">{{ _('척추조영술') }}</label></td>
                                </tr>
                                <tr>
                                    <td colspan="5">
                                        <label for="test_kinds_etc">{{ _('기타') }} : </label>
                                        <input type="text" id="test_etc" class="form-control" style="display:inline; width:630px"/>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="5"><label>{{ _('외부에서 가져온 CD나 필름이 있나요 ?') }}</label></td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" id="cd_film_yn_3" class="cd_film_yn" value="3"/><label for="cd_film_yn_3">{{ _('없음') }}</label></td>
                                    <td><input type="checkbox" id="cd_film_yn_1" class="cd_film_yn" value="1"/><label for="cd_film_yn_1">{{ _('필름') }}</label></td>
                                    <td><input type="checkbox" id="cd_film_yn_2" class="cd_film_yn" value="2"/><label for="cd_film_yn_2">{{ _('CD') }}</label></td>
                                    <td colspan="2"></td>
                                </tr>
                            </table>
                        </div>
                        <div>
                            <p class="question_item">{{ _('7. 현재 치료중인 질환과 복용약이 있으신가요? (아스피린, 쿠마딘, 와파린 등)') }}</p>
                            <table class="table">
                                <tr>
                                    <td><input type="checkbox" id="disease_history_kinds_1" class="disease_history_kinds" value="1"/><label for="disease_history_kinds_1">{{ _('고혈압') }}</label></td>
                                    <td><input type="checkbox" id="disease_history_kinds_2" class="disease_history_kinds" value="2"/><label for="disease_history_kinds_2">{{ _('당뇨') }}</label></td>
                                    <td><input type="checkbox" id="disease_history_kinds_3" class="disease_history_kinds" value="3"/><label for="disease_history_kinds_3">{{ _('간질환') }}</label></td>
                                    <td><input type="checkbox" id="disease_history_kinds_4" class="disease_history_kinds" value="4"/><label for="disease_history_kinds_4">{{ _('뇌질환(중풍)') }}</label></td>
                                    <td><input type="checkbox" id="disease_history_kinds_5" class="disease_history_kinds" value="5"/><label for="disease_history_kinds_5">{{ _('폐결핵') }}</label></td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" id="disease_history_kinds_6" class="disease_history_kinds" value="6"/><label for="disease_history_kinds_6">{{ _('심장질환') }}</label></td>
                                    <td><input type="checkbox" id="disease_history_kinds_7" class="disease_history_kinds" value="7"/><label for="disease_history_kinds_7">{{ _('관절염') }}</label></td>
                                    <td><input type="checkbox" id="disease_history_kinds_8" class="disease_history_kinds" value="8"/><label for="disease_history_kinds_8">{{ _('신장질환') }}</label></td>
                                    <td colspan="2"><input type="checkbox" id="disease_history_kinds_9" class="disease_history_kinds" value="9"/><label for="disease_history_kinds_9">{{ _('갑상선질환') }}</label></td>
                                </tr>
                                <tr>
                                    <td><label>{{ _('기타') }}</label></td>
                                    <td colspan="4"><textarea id="disease_etc" class="form-control" style="resize: vertical;"></textarea></td>
                                </tr>
                                <tr>
                                    <td><label>{{ _('복용약') }}</label></td>
                                    <td colspan="4"><textarea id="medication" class="form-control" style="resize: vertical;"></textarea></td>
                                </tr>
                            </table>
                        </div>
                        <div>
                            <p class="question_item">{{ _('8. 약에 대한 부작용은 있으신가요?') }}</p>
                            <table>
                                <tr>
                                    <td><input type="radio" id="medicine_side_effects_1" name="medicine_side_effects" value="1"/><label for="medicine_side_effects_1">{{ _('예') }}</label></td>
                                    <td style="width:50px;"></td>
                                    <td><input type="radio" id="medicine_side_effects_0" name="medicine_side_effects" value="0"/><label for="medicine_side_effects_0">{{ _('아니오') }}</label></td>
                                </tr>
                                
                                
                            </table>

                        </div>
                        <div>
                            <p class="question_item">{{ _('9. 임신 가능성이 있으신가요?') }}</p>
                            <table>
                                <tr>
                                    <td>
                                        <input type="radio" id="pregnant_0" name="pregnant_radio" value="0"/><label for="pregnant_0">{{ _('해당없음') }}</label>
                                    </td>
                                    <td style="width:50px;"></td>
                                    <td>
                                        <input type="radio" id="pregnant_1" name="pregnant_radio" value="1"/><label for="pregnant_1">{{ _('임신중') }}</label>
                                    </td>
                                    <td style="width:50px;"></td>
                                    <td>
                                        <input type="radio" id="pregnant_2" name="pregnant_radio" value="2"/><label for="pregnant_2">{{ _('계획중') }}</label>
                                    </td>
                                </tr>
                            </table>  
                        </div>
                        <div>
                            <p class="question_item">{{ _('10. 내원 동기') }}</p>
                            <table class="table">
                                <tr>
                                    <td><input type="checkbox" id="visit_motiv_1" class="visit_motiv_item" value="1"/><label for="visit_motiv_1">{{ _('전단지') }}</label></td>
                                    <td><input type="checkbox" id="visit_motiv_2" class="visit_motiv_item" value="2"/><label for="visit_motiv_2">{{ _('카카오톡 오픈 채팅') }}</label></td>
                                    <td><input type="checkbox" id="visit_motiv_3" class="visit_motiv_item" value="3"/><label for="visit_motiv_3">{{ _('페이스북') }}</label></td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" id="visit_motiv_4" /><label for="visit_motiv_4" value="4">{{ _('간판') }}</label></td>
                                    <td colspan="2"><input type="checkbox" id="visit_motiv_5" /> <label for="visit_motiv_5">{{ _('지인소개') }}</label> : <input type="text" class="form-control" id="visit_motiv_friend"/></td>
                                </tr>
                                <tr>
                                    <td colspan="3">{{ _('기타') }} : <input type="text" class="form-control" id="visit_motiv_etc"/></td>
                                </tr>
                            </table>
                        </div>
                        <div class="func_container">
                            <input type="button" class="btn btn-default" data-dismiss="modal" value="close"/>
                            <input type="button" id="save" class="btn btn-primary" value="Save"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>






<div id="past_diagnosis_showlarge_modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span> <span class="sr-only">close</span></button>
                <h2>{{ _('Patient Past History') }}</h2>
                <div id="modalBody" class="modal-body" >
                    <table class="table" id="past_diagnosis_showlarge_table">
                        <tbody>
                    
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function get_listener_path() {
        return '{% static 'js/event_listener.js' %}';
    }

    function show_memo_detail(){

        var id = $("#patient_package_registration_id").val();
        var patient_id = $("#patient_id").val();
        var depart_id = $("#depart_filter_reg").val();
        var doctor_id = $("#doctor_filter_reg").val();
    
        $.ajax({
            type: 'POST',
            url: '/receptionist/get_memo_detail/',
            data: {
                'csrfmiddlewaretoken': $('#csrf').val(),
    
                // 'id': id, //패키지 아이디
                'patient_id': patient_id,
                // 'depart_id': depart_id,
                // 'doctor_id': doctor_id,
    
                
            },
            dataType: 'Json',
            success: function (response) {
                if (response.result) {
                    $('#table_memo_detail > tbody ').empty();
                    for (var i = 0; i < response.datas.length; i++) {
                            var str = "<tr>"
        
                            str += 
                                "<td hidden>" + response.datas[i]['detail_memo_id'] + "</td>" + 
                                "<td>" + (i + 1) + "</td>" +
                                "<td>" + response.datas[i]['depart'] + "</td>" +
                                "<td>" + response.datas[i]['creator'] + "</td>" +
                                "<td>" + response.datas[i]['memo'] + "</td>" +
                                "<td>" + 
                                // "<a class='btn btn-default btn-xs' style='margin-right:10px;' href='javascript: void (0);' onclick='update_detail_memo(" + response.datas[i]['detail_memo_id'] + ")' ><i class='fa fa-lg fa-pencil'></i></a>" +
                                "<a class='btn btn-danger btn-xs' href='javascript: void (0);' onclick='delete_detail_memo(" + response.datas[i]['detail_memo_id'] + ")' ><i class='fa fa-lg fa-trash'></i></a>" +
                                "</td></tr>";
        
                        $('#table_memo_detail > tbody').append(str);
        
                    }
                    // alert(gettext('Hello'))
                    console.log(response.datas)
                    $('#memo_detail_modal').modal('show')
                }
    
            },
            error: function (request, status, error) {
                console.log("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
    
            },
        })
        // $('#memo_detail_modal').modal('show')
    }
    
    function create_memo_detail(){
    
        var patient_id = $("#patient_id").val();
        var memo = $('#new_memo_detail').val();
        $.ajax({
            type: 'POST',
            url: '/receptionist/create_memo_detail/',
            data: {
                'csrfmiddlewaretoken': $('#csrf').val(),
                'patient_id': patient_id,
                'memo': memo,
    
            },
            dataType: 'Json',
            success: function (response) {
                if (response.result) {
                    $('#table_memo_detail > tbody ').empty();
                    for (var i = 0; i < response.datas.length; i++) {
                            var str = "<tr>"
        
                            str += 
                                "<td hidden>" + response.datas[i]['detail_memo_id'] + "</td>" + 
                                "<td>" + (i + 1) + "</td>" +
                                "<td>" + response.datas[i]['depart'] + "</td>" +
                                "<td>" + response.datas[i]['creator'] + "</td>" +
                                "<td>" + response.datas[i]['memo'] + "</td>" +
                                "<td>" + 
                                // "<a class='btn btn-default btn-xs' style='margin-right:10px;' href='javascript: void (0);' onclick='update_detail_memo(" + response.datas[i]['detail_memo_id'] + ")' ><i class='fa fa-lg fa-pencil'></i></a>" +
                                "<a class='btn btn-danger btn-xs' href='javascript: void (0);' onclick='delete_detail_memo(" + response.datas[i]['detail_memo_id'] + ")' ><i class='fa fa-lg fa-trash'></i></a> " +
    
                                "</td></tr>";
        
                        $('#table_memo_detail > tbody').append(str);
        
                    }
                    // alert(gettext('Hello'))
                    console.log(response.datas)
                    $('#memo_detail_modal').modal('show');
                    $('#new_memo_detail').val('')
                    alert(gettext('Created'));
                }
    
            },
            error: function (request, status, error) {
                console.log("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
    
            },
        })
    }
    
    
    
    
    
    function delete_detail_memo(id){
        var patient_id = $("#patient_id").val();
        $.ajax({
            type: 'POST',
            url: '/receptionist/delete_memo_detail/',
            data: {
                'csrfmiddlewaretoken': $('#csrf').val(),
                'memo_id': id,
                'patient_id': patient_id
            },
            dataType: 'Json',
            success: function (response) {
                if (response.result) {
                    $('#table_memo_detail > tbody ').empty();
                    for (var i = 0; i < response.datas.length; i++) {
                            var str = "<tr>"
        
                            str += 
                                "<td hidden>" + response.datas[i]['detail_memo_id'] + "</td>" + 
                                "<td>" + (i + 1) + "</td>" +
                                "<td>" + response.datas[i]['depart'] + "</td>" +
                                "<td>" + response.datas[i]['creator'] + "</td>" +
                                "<td>" + response.datas[i]['memo'] + "</td>" +
                                "<td>" + 
                                // "<a class='btn btn-default btn-xs' style='margin-right:10px;' href='javascript: void (0);' onclick='update_detail_memo(" + response.datas[i]['detail_memo_id'] + ")' ><i class='fa fa-lg fa-pencil'></i></a>" +
                                "<a class='btn btn-danger btn-xs' href='javascript: void (0);' onclick='delete_detail_memo(" + response.datas[i]['detail_memo_id'] + ")' ><i class='fa fa-lg fa-trash'></i></a>" +
                                "</td></tr>";
        
                        $('#table_memo_detail > tbody').append(str);
        
                    }
                }
            },
            error: function (request, status, error) {
                console.log("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
    
            },
        })
    }
    
    function update_detail_memo(id){
        var patient_id = $("#patient_id").val();
        var memo = $('#new_memo_detail').val();
    
        $.ajax({
            type: 'POST',
            url: '/receptionist/update_memo_detail/',
            data: {
                'csrfmiddlewaretoken': $('#csrf').val(),
                'memo_id': id,
                'patient_id': patient_id,
                'memo': memo,
            },
            dataType: 'Json',
            success: function (response) {
                if (response.result) {
                    $('#table_memo_detail > tbody ').empty();
                    for (var i = 0; i < response.datas.length; i++) {
                            var str = "<tr>"
        
                            str += 
                                "<td hidden>" + response.datas[i]['detail_memo_id'] + "</td>" + 
                                "<td>" + (i + 1) + "</td>" +
                                "<td>" + response.datas[i]['depart'] + "</td>" +
                                "<td>" + response.datas[i]['creator'] + "</td>" +
                                "<td>" + response.datas[i]['memo'] + "</td>" +
                                "<td>" + 
                                // "<a class='btn btn-default btn-xs' style='margin-right:10px;' href='javascript: void (0);' onclick='update_detail_memo(" + response.datas[i]['detail_memo_id'] + ")' ><i class='fa fa-lg fa-pencil'></i></a>" +
                                "<a class='btn btn-danger btn-xs' href='javascript: void (0);' onclick='delete_detail_memo(" + response.datas[i]['detail_memo_id'] + ")' ><i class='fa fa-lg fa-trash'></i></a></td> " +
                                "</tr>";
        
                        $('#table_memo_detail > tbody').append(str);
        
                    }
                }
            },
            error: function (request, status, error) {
                console.log("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
    
            },
        })
    }
    
    $('textarea').keyup(function(e){
        if(e.keyCode == 13)
        {
            $(this).trigger("enterKey");
        }
    });
</script>

{% endblock %}

{% block style %}

<link rel="stylesheet" type="text/css" href="{% static 'css/doctor_PM.css' %}" />

<link rel="stylesheet" href="{% static 'css/ion.rangeSlider.min.css' %}" />
{% endblock %}

{% block scripts %}
<script src="{% static 'js/doctor_PM.js' %}" type="text/javascript"></script>
<script src="{% static 'js/ion.rangeSlider.min.js' %}"></script>
{% endblock %}