{% extends "app/layout.html" %}

{% load staticfiles %}
{% block content %}
{% csrf_token %}

    <div class="document_grid">
        <!--Reception-->
        <div class="reception_patient partition">
            <div class="status_table_title">
                <span class="btn btn-danger">{{ _('Document List') }}</span>

                <div class="status_table_filter">
                    {{ _('Date:') }}
                    <input type="text" class="form-control document_control" id="document_control_start"/>
                    ~ 
                    <input type="text" class="form-control document_control" id="document_control_end"/>
                    <div class="input-group" id="document_control_depart_div" style="{% if user.doctor %} display:none; {%endif%}">
                        <span class="input-group-addon reception_table_title" id="basic-addon1">{{ _('Depart') }}</span>
                        <select id="document_control_depart" class="form-control">
                            <option value="">{{ _('All') }}</option>
                            {% for depart in departs %}
                            <option value="{{depart.id}}" {% if user.doctor.depart.id is depart.id %} selected {%endif%}>{{ depart.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <input type="text" class="form-control document_control" id="document_control_input"/>
                    <input type="button" class="btn btn-default document_control" id="document_control_search" value="{{ _('Search')}}"/>
                </div>
            </div>
            <div class="document_contents_div">
                <table class="table table-bordered table-hover" id="document_contents_table">
                    <thead>
                        <tr>
                            <th>{{_('No')}}</th>
                            <th>{{_('Chart No')}}</th>
                            <th>{{_('Name')}}</th>
                            <th>{{_('Date of Birth')}}</th>
                            <th>{{_('Depart')}}</th>
                            <th>{{_('Address')}}</th>
                            <th>{{_('Phone')}}</th>



                            <th>{{_('Date Time')}}</th>
                            <th>{{_('Email')}}</th>

                            <th>{{_('Invoice')}}</th>
                            <th>{{_('Insurance')}}</th>
                            <th>{{_('Tax')}}</th>
                            <th>{{_('Invoice Address')}}</th>
                            
                            <th>{{_('Medical Recepit')}}</th>
                            <th>{{_('Medicine Receipt')}}</th>
                            <th>{{_('Subclinical')}}</th>
                            <th>{{_('Medical Report')}}</th><!--Medical Report-->
                            <th>{{_('Prescription Letter')}}</th><!--Prescription-->
                            <th>{{_('Lab Result')}}</th><!--Lab-->
                            <th>{{_('Vaccine Certification')}}</th><!--Lab-->

                            <th>{{_('Send Invoice Status')}}</th>
                            
                            <th>{{_('Download Excel')}}</th><!--Lab-->
                            <th>Update</th>
                        </tr>
                    </thead>
                    <tbody id="document_contents">

                    </tbody>
                </table>
            </div>
        </div>
    </div>



<div id="dynamic_div">

</div>

{% endblock %}


{% block style %}
    <link rel="stylesheet" href="{% static 'css/ion.rangeSlider.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/Documents.css' %}" />
    
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
{% endblock %}

{% block scripts %}
<script src="{% static 'js/Documents.js' %}" type="text/javascript"></script>
<script src="{% static 'js/ion.rangeSlider.min.js' %}"></script>
{% endblock %}