{% extends "app/layout.html" %}

{% load staticfiles %}
{% block content %}
{% csrf_token %}
<div class="pharmacy_grid">
    <div class="pharmacy_database partition">
        <div class="medicine_table_title">
            <span class="btn btn-danger inventory_table_title_span" >{{ _('Medicine List') }}</span>
            <div style="float:right;">
            <!--
            <select name="filter" id="medicine_search_select" class="form-control costom-select inventory_search_select" aria-describedby="basic-addon1">
                <option value="name">name</option>
            </select>
            -->
            <input class="btn-default" type="file" id="uploadFile" style="display: inline-block;" />
            <button class="btn btn-default" onclick="upload_file(event)" style="margin-right: 30px;">Import Data</button>
            <a class="btn btn-default" onclick="excel_download()"><i class="fa fa-file-excel-o"></i>{{ _('Download') }}</a>
            <div class="input-group" id="search_depart_div">
                <span class="input-group-addon" id="basic-addon1">{{ _('Class') }}</span>
                <select id="search_depart" class="form-control">
                    <option value="">{{ _('ALL') }}</option>
                    {% for class in medicine_class %}
                    <option value="{{ class.id }}">{{ class.name_display }}</option>
                    {% endfor %}
                </select>
            </div>
            <input type="text" name="search_input" id="medicine_search_input" class="form-control inventory_search_select" aria-describedby="basic-addon1" required="">
            <input type="button" class="btn btn-default" value="{{ _('Search')}}" onclick="pharmacy_database_search()"/>
            </div>
        </div>
        <div class="pharmacy_database_list">
            <div class="pharmacy_database_table">
                <table class="table table-bordered table-hover table-striped" id="inventory_database_table">
                    <thead>
                        <tr>
                            <th>{{ _('No') }}</th>
                            <th>{{ _('Code') }}</th>
                            <th>{{ _('Trade Name') }}</th>
                            <th>{{ _('Generic Name') }}</th>
                            <th>{{ _('Company') }}</th>
                            <th>{{ _('Country') }}</th>
                            <th>{{ _('Unit') }}</th>
                            <th>{{ _('Price') }}</th>
                            <th>{{ _('Count') }}</th>
                            <th>{{ _('Edit') }}</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <ul class="pagination" id="medicine_pagnation">

            </ul>
            <div style="float:right; margin-top:20px;">
                <input type="button" class="btn btn-warning" value="{{ _('New Vaccine') }}" onclick="edit_database_medicine(null,'VC')" />
                <input type="button" class="btn btn-success" value="{{ _('Manage Class') }}" onclick="list_database_medicine_class()" />
            </div>
        </div>
    </div>

    <div class="inventory_history_part1 partition">
        <div class="medicine_table_title">
            <span class="btn btn-danger inventory_table_title_span" >{{ _('Inventory History') }}</span>
            <div style="float:right; font-weight:700; font-size:18px; ">
                <!--{{ _('Date') }} : <input type="text" class="form-control" id="inventory_history_date"/>-->
            </div>
        </div>
        <div>
            
            <div style="float:right; font-weight:700; font-size:18px; margin-bottom:-5px;">
                {{ _('Total') }} : 
                <span id="inventory_history_total">0</span>
            </div>
        </div>
        <br />
        <div id="inventory_history_div">
            <input type="hidden" id="inventory_history_selected" />
            <table class="table table-bordered table-hover table-striped" id="inventory_history_table">
                <thead>
                    <tr>
                        <th>{{ _('No') }}</th>
                        <th>{{ _('Date') }}</th>
                        <th>{{ _('Quantity') }}</th>
                        <th>{{ _('Depart') }}</th>
                        <th>{{ _('Type') }}</th>
                        <th>{{ _('Remark') }}</th>
                    </tr>
                </thead>
                <tbody id="inventory_history_tbody">
                
                </tbody>
            </table>
        </div>
        <div style="float:left;">
            <input type="button" class="btn btn-info" id="medicine_new" value="{{ _('New') }}" onclick="edit_database_medicine()"/>
        </div>
        <input type="button" value=" {{ _('+ Add') }}" class="btn btn-primary" id="inventory_add"/>
    </div>



    <div class="inventory_history_part2 partition">
        <div class="medicine_table_title">
            <span class="btn btn-danger inventory_table_title_span" >{{ _('Expiration Date') }}</span>
            <!--<span class="btn btn-danger inventory_table_title_span" >{{ _('dsds') }}</span>-->
        </div>
        <div id="inventory_expiry_div">
            <table class="table table-bordered table-hover table-striped" id="inventory_expiry_table">
                <thead>
                    <tr>
                        <th>{{ _('No') }}</th>
                        <th>{{ _('Registration') }}</th>
                        <th>{{ _('Expiration Date') }}</th>
                        <th>{{ _('Quantity') }}</th>
                        <th>{{ _('Remained Date') }}</th>
                        <th>{{ _('Edit') }}</th>
                    </tr>
                </thead>
                <tbody id="inventory_expiry_tbody">

                </tbody>
            </table>
        </div>
    </div>
</div>


<div id="add_edit_database" class="modal fade">
     <div class="modal-dialog add_edit_modal" style="width:800px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span> <span class="sr-only">close</span></button>
                <h4 id="add_edit_database_header"></h4>
                <div id="modalBody" class="modal-body">
                    <input type="hidden" id="add_edit_database_id" />
                    <table class="table" id="add_edit_database_table">
                        <tr class="va_none">
                            <td>
                                <div class="input-group">
                                    <span class="input-group-addon" id="basic-addon1">{{ _('Type') }}</span>
                                    <select id="add_edit_database_type" class="form-control medicine_control_input" aria-describedby="basic-addon1">
                                        {% for data in type %}
                                        <option value="{{ data }}">{{ data }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </td>
                            <td>
                                <div class="input-group">
                                    <span class="input-group-addon" id="basic-addon1">{{ _('Class') }}</span>
                                    <select id="add_edit_database_class" class="form-control medicine_control_input" aria-describedby="basic-addon1">
                                        {% for class in medicine_class %}
                                        <option value="{{ class.id }}">{{ class.name_display }}</option>
                                        {% endfor %}
                                    </select>
                                    
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="input-group">
                                    <span class="input-group-addon" id="basic-addon1">*{{ _('Name') }}</span>
                                    <input type="text" id="add_edit_database_name" class="form-control medicine_control_input" aria-describedby="basic-addon1">
                                </div>
                            </td>
                            <td>
                                <div class="input-group">
                                    <span class="input-group-addon" id="basic-addon1">*{{ _('Name') }} {{_('in Vietnamese') }}</span>
                                    <input type="text" id="add_edit_database_name_vie" class="form-control medicine_control_input" aria-describedby="basic-addon1">
                                </div>
                            </td>
                        </tr>
                        <tr class="va_none">
                            <td>
                                <div class="input-group">
                                    <span class="input-group-addon" id="basic-addon1">{{ _('Ingredient') }}</span>
                                    <input type="text" id="add_edit_database_ingredient" class="form-control medicine_control_input" aria-describedby="basic-addon1">
                                </div>
                            </td>
                            <td>
                                <div class="input-group">
                                    <span class="input-group-addon" id="basic-addon1">{{ _('Ingredient') }} {{_('in Vietnamese') }}</span>
                                    <input type="text" id="add_edit_database_ingredient_vie" class="form-control medicine_control_input" aria-describedby="basic-addon1">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="input-group">
                                    <span class="input-group-addon" id="basic-addon1">{{ _('Unit') }}</span>
                                    <input type="text" id="add_edit_database_unit" class="form-control medicine_control_input" aria-describedby="basic-addon1">
                                </div>
                            </td>
                            <td>
                                <div class="input-group">
                                    <span class="input-group-addon" id="basic-addon1">{{ _('Unit') }} {{_('in Vietnamese') }}</span>
                                    <input type="text" id="add_edit_database_unit_vie" class="form-control medicine_control_input" aria-describedby="basic-addon1">
                                </div>
                            </td>
                        </tr>
                        <tr class="va_none">
                            <td>
                                <div class="input-group">
                                    <span class="input-group-addon" id="basic-addon1">{{ _('Country') }}</span>
                                    <input type="text" id="add_edit_database_country" class="form-control medicine_control_input" aria-describedby="basic-addon1">
                                </div>
                            </td>
                            <td>
                                <div class="input-group">
                                    <span class="input-group-addon" id="basic-addon1">{{ _('Country') }} {{_('in Vietnamese') }}</span>
                                    <input type="text" id="add_edit_database_country_vie" class="form-control medicine_control_input" aria-describedby="basic-addon1">
                                </div>
                            </td>
                        </tr>
                        
                        <tr class="va_show">
                            <td>
                                <div class="input-group">
                                    <span class="input-group-addon" id="basic-addon1">{{ _('Vaccine Code') }}</span>
                                    <input type="text" id="add_edit_database_vaccine_code" class="form-control medicine_control_input" aria-describedby="basic-addon1">
                                </div>
                            </td>
                            <td>
                                <div class="input-group">
                                    <span class="input-group-addon" id="basic-addon1">{{ _('Vaccine Recommended Date') }}</span>
                                    <input type="text" id="add_edit_database_vaccine_recommend_time" class="form-control medicine_control_input" aria-describedby="basic-addon1">
                                </div>
                            </td>
                        </tr>
                        <tr class="va_none">
                            <td colspan="2">
                                <div class="input-group">
                                    <span class="input-group-addon" id="basic-addon1">{{ _('Company') }}</span>
                                    <input type="text" id="add_edit_database_company" class="form-control medicine_control_input" aria-describedby="basic-addon1">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <div class="input-group">
                                    <span class="input-group-addon" id="basic-addon1">{{ _('Displaying Name') }}</span>
                                    <input type="text" id="add_edit_database_name_display" class="form-control medicine_control_input" aria-describedby="basic-addon1">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="input-group">
                                    <span class="input-group-addon" id="basic-addon1">{{ _('Price for Purchase') }}</span>
                                    <input type="number" id="add_edit_database_price_input" class="form-control medicine_control_input" aria-describedby="basic-addon1" min="0">
                                </div>
                            </td>
                            <td>
                                <div class="input-group">
                                    <span class="input-group-addon" aria-describedby="basic-addon1">{{ _('Multiple Level') }}</span>
                                    <select class="form-control medicine_control_input" aria-describedby="basic-addon1" id="add_edit_database_multiple_level">
                                        {% for level in price_multiple_level %}
                                        <option value="{{ level.se2 }}">{{ level.se1 }}</option>
                                        {% endfor %}
                                    </select>
                                    <!--<input type="text" id="add_edit_database_multiple_level" class="form-control medicine_control_input" aria-describedby="basic-addon1">-->
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="input-group">
                                    <span class="input-group-addon" id="basic-addon1">{{ _('Price for Sale') }}</span>
                                    <input type="number" id="add_edit_database_price_output" class="form-control medicine_control_input" aria-describedby="basic-addon1" min="0">
                                </div>
                            </td>
                            <td>
                                <div class="input-group">
                                    <span class="input-group-addon" id="basic-addon1">{{ _('Price(Dollar $)') }}</span>
                                    <input type="number" id="add_edit_database_price_dollar" class="form-control medicine_control_input" aria-describedby="basic-addon1" min="0">
                                </div>
                            </td>
                        </tr>
                        <tr class="va_none">
                            <td>
                             <label class="btn btn-success" id="is_red_invoice_label" {% if request.user.is_hidden == 'Y' %} style="display:none;" {% endif %}>
                                <input type="checkbox" id="is_red_invoice" {% if request.user.is_hidden == 'Y' %} checked {% endif %} /><text> {{_('Red Invoice') }}</text>
                             </label>
                            </td>
                            <td></td>
                        </tr>
                    </table>

                </div>
                <div class="modal-footer">
                        
                    <a class="btn btn-primary" onclick="save_database_medicine()">{{ _('Save') }}</a>
                    <a class="btn btn-default" data-dismiss="modal" aria-hidden="true">{{ _('Cancel') }}</a>
                </div>
                
            </div>
        </div>

    </div>
</div>


<div id="add_medicine_database" class="modal fade">
     <div class="modal-dialog add_medicine_modal" style="width:400px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span> <span class="sr-only">close</span></button>
                <h4 id="add_medicine_database_h4"><span id="add_medicine_database_header"></span><br/>{{ _('Goods Receipt') }}</h4>
                <input type="hidden" id="add_medicine_database_id" />
                <div id="modalBody" class="modal-body">
                    <table class="table" id="add_medicine_table">
                        <tr>
                            <td>
                                <div class="input-group">
                                    <span class="input-group-addon" id="basic-addon1">{{ _('Date of Registration') }}</span>
                                    <input type="text" id="add_medicine_reg" class="form-control medicine_control_input" aria-describedby="basic-addon1">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="input-group">
                                    <span class="input-group-addon" id="basic-addon1">{{ _('Expiration Date') }}</span>
                                    <input type="text" id="add_medicine_expiry" class="form-control medicine_control_input" aria-describedby="basic-addon1">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="input-group">
                                    <span class="input-group-addon" id="basic-addon1">{{ _('Changes') }}</span>
                                    <input type="number" id="add_medicine_changes" class="form-control medicine_control_input" aria-describedby="basic-addon1" value="0">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="input-group">
                                    <span class="input-group-addon" id="basic-addon1">{{ _('Memo') }}</span>
                                    <input type="text" id="add_medicine_memo" class="form-control medicine_control_input" aria-describedby="basic-addon1">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="input-group">
                                    <label class="input-group-addon" id="basic-addon1">
                                        <input type="checkbox" value="" id="add_medicine_input_price_need"/>                       
                                        <text>{{ _('Changed Input Price') }}</text>
                                    </label>
                                    <input type="text" id="add_medicine_input_price" class="form-control medicine_control_input" aria-describedby="basic-addon1">
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-primary" onclick="save_database_add_medicine()">{{ _('Save') }}</a>
                    <a class="btn btn-default" data-dismiss="modal" aria-hidden="true">{{ _('Cancel') }}</a>
                </div>
                
            </div>
        </div>

    </div>
</div>


<div id="disposal_medicine" class="modal fade">
     <div class="modal-dialog add_medicine_modal" style="width:400px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span> <span class="sr-only">close</span></button>
                <h4 class="add_medicine_database_h4"><span id="disposal_medicine_header"></span><br/>{{ _('Disposal') }}</h4>
                <input type="hidden" id="disposal_medicine_table_id" />
                <div id="modalBody" class="modal-body">
                    <table class="table" id="disposal_medicine_table">
                        <tr>
                            <td>
                                <div class="input-group">
                                    <span class="input-group-addon" id="basic-addon1">{{ _('Changes') }}</span>
                                    <input type="number" id="disposal_medicine_changes" class="form-control medicine_control_input" aria-describedby="basic-addon1" value="0">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="input-group">
                                    <span class="input-group-addon" id="basic-addon1">{{ _('Memo') }}</span>
                                    <input type="text" id="disposal_medicine_memo" class="form-control medicine_control_input" aria-describedby="basic-addon1">
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-primary" onclick="save_database_disposal_medicine()">{{ _('Save') }}</a>
                    <a class="btn btn-default" data-dismiss="modal" aria-hidden="true">{{ _('Cancel') }}</a>
                </div>
                
            </div>
        </div>

    </div>
</div>


<div id="list_class_menu" class="modal fade">
    <div class="modal-dialog add_edit_modal" style="width:800px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span> <span class="sr-only">close</span></button>
                <h4>{{ _('Class Information') }}</h4>
                <div id="modalBody" class="modal-body">
                    <table class="table table-bordered table-hover table-striped" id="class_menu_table">
                        <thead>
                            <tr>
                                <th>{{ _('No') }}</th>
                                <th>{{ _('Name') }}</th>
                                <th>{{ _('Vietnamese Name') }}</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-xs btn-info" onclick="add_edit_class_menu()">{{ _('Add') }}</a>
                    <a class="btn btn-xs btn-default" data-dismiss="modal" aria-hidden="true">{{ _('Close') }}</a>
                </div>

            </div>
        </div>

    </div>
</div>


<div id="add_edit_class_menu" class="modal fade">
    <div class="modal-dialog add_edit_modal" style="width:600px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span> <span class="sr-only">close</span></button>
                <h4>{{ _('Add / Edit Class Information') }}</h4>
                <input type="hidden" id="class_selected" value=""/>
                <div id="modalBody" class="modal-body">
                    <table class="table" id="class_table">
                        <tr>
                            <td>
                                <div class="input-group">
                                    <span class="input-group-addon" id="basic-addon1">{{ _('Name') }}</span>
                                    <input type="text" id="class_name" class="form-control medicine_control_input" aria-describedby="basic-addon1" autocomplete="off">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="input-group">
                                    <span class="input-group-addon" id="basic-addon1">{{ _('Vietnamese Name') }}</span>
                                    <input type="text" id="class_name_vie" class="form-control medicine_control_input" aria-describedby="basic-addon1" autocomplete="off">
                                </div>
                            </td>
                        </tr>
                    </table>

                </div>
                <div class="modal-footer">
                    <a class="btn btn-xs btn-primary" onclick="save_class()">{{ _('Save') }}</a>
                    <a class="btn btn-xs btn-default" data-dismiss="modal" aria-hidden="true">{{ _('Cancel') }}</a>
                </div>

            </div>
        </div>

    </div>
</div>





<script>
    function is_red_invoice() {
        {% if request.user.is_hidden == 'Y' %} 
        $("#is_red_invoice").prop("checked", true);
        {% endif %}
    }

    function upload_file(event){
    // console.log('asdasd')
        event.preventDefault();
        // var data = new FormData($('image_form').get(0));
        var data = $('#uploadFile').prop("files")[0];

        var form_data = new FormData();
        // console.log(data)
        form_data.append('file', data)
        $.ajax({
            type: 'POST',
            headers:{'X-CSRFToken':$('#csrf').val()},
            url: '/pharmacy/upload_file/',
            data: form_data,
            cache: false,
            processData: false,
            contentType: false,
            // dataType: 'Json',
            success: function(response) {
                alert('success');
            },
            error: function (request, status, error) {
                console.log("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error)
            },
        });
        return false;
    }
</script>











{% endblock %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/inventory.css' %}" />
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.js"></script>
<script src="{% static 'js/inventory.js' %}" type="text/javascript"></script>
{% endblock %}