{% extends "app/layout.html" %}

{% block content %}
{% load staticfiles %}
    <div class="report_grid">
        <div class="partition search_part">
            <div class="status_table_title">
                <span class="btn" style="margin-bottom:10px;">{{ _('Search Report') }}</span>
                
                <div style="float:right;">
                    {{ _('Date') }} :
                <input type="text" class="form-control report_search_date" id="report_search_date_start" />
                ~
                <input type="text" class="form-control report_search_date" style=" display:inline;" id="report_search_date_end" />

                {{ report_search.search_input }}
                <input type="button" class="btn" id="search" value="Search" onclick="search_report() "/>
                </div>
            </div>
            <div class="search_wrap">
                <table class="table" id="report_search_table">
                    <thead>
                        <tr>
                            <th>{{ _('No')}}</th>
                            <th>{{ _('Chart No') }}</th>
                            <th>{{ _('Name') }}</th>
                            <th>{{ _('ID Number') }}</th>
                            <th>{{ _('Doctor') }}</th>
                            <th>{{ _('Date') }}</th>
                        </tr>
                    </thead>
                    <tbody id="search_table_contents" class="search_table_contents">
                        
                    </tbody>
                </table>

            </div>
                            <!--페이징-->
                <ul class="pagination" id="payment_pagnation">

                </ul>
        </div>
        <div class="partition input_part" >
            <div class="status_table_title">
                <span class="btn ">{{ _('Report Context') }}</span>
            </div>
            <div class="input_part_contorl">
                <input type="hidden" id="doctor_id" value="{{ user.doctor.id }}"/>
                <input type="hidden" id="selected_report" /> 
                <input type="hidden" id="selected_reception_id" />
                <div class="input-group">
                    <span class="input-group-addon report_table_title"  id="basic-addon1">{{ _('Chart No') }}</span>
                    <input type="text" class="form-control" aria-describedby="basic-addon1" id="patient_chart"/>
                </div>
                <div class="input-group">
                    <span class="input-group-addon report_table_title"  id="basic-addon1">{{ _('Name') }}</span>
                    <input type="text" class="form-control" aria-describedby="basic-addon1" id="patient_name" value="{{patient_name_eng}} {{patient_name}}"/>
                </div>
                <div class="input-group" >
                    <span class="input-group-addon report_table_title"  id="basic-addon1">{{ _('Gender') }}</span>
                    <input type="text" class="form-control" aria-describedby="basic-addon1" id="patient_gender" autocomplete="off"/>
                </div>

                <div class="input-group " >
                    <span class="input-group-addon report_table_title"  id="basic-addon1">{{ _('Date Of Birth') }}</span>
                    <input type="text" class="form-control" aria-describedby="basic-addon1" id="patient_date_of_birth" autocomplete="off"/>
                </div>
                    
                <div class="input-group " >
                    <span class="input-group-addon report_table_title"  id="basic-addon1">{{ _('Phone') }}</span>
                    <input type="text" class="form-control" aria-describedby="basic-addon1" id="patient_phone" autocomplete="off" />
                </div>

                <div class="input-group">
                    <span class="input-group-addon report_table_title"  id="basic-addon1">{{ _('ID Number') }}</span>
                    <input type="text" class="form-control" aria-describedby="basic-addon1" id="patient_ID" autocomplete="off"/>
                </div>

                <div class="input-group">
                    <span class="input-group-addon report_table_title" id="basic-addon1">{{ _('Address') }}</span>
                    <input type="text" class="form-control" aria-describedby="basic-addon1" id="patient_address" autocomplete="off"/>
                </div>
                <!--
                <div class="input-group" >
                    <span class="input-group-addon report_table_title"  id="basic-addon1">{{ _('Outbreak Date') }}</span>
                    <input type="text" class="form-control" aria-describedby="basic-addon1" id="date_of_hospitalization" autocomplete="off"/>
                </div>
                    -->
                <div class="input-group" >
                    <span class="input-group-addon report_table_title"  id="basic-addon1">{{ _('Recommendation <br/> and Follow-up:') }}</span>
                    <textarea type="text" style="resize:none; height:17.2vh;" class="form-control" aria-describedby="basic-addon1" id="reception_report"></textarea>
                </div>
                <!--
                <div class="input-group" >
                    <span class="input-group-addon report_table_title" id="basic-addon1" >{{ _('Purpose') }}</span>
                    <input type="text" class="form-control" aria-describedby="basic-addon1" id="reception_usage" autocomplete="off"/>
                </div>

                <div class="input-group" >
                    <span class="input-group-addon report_table_title"  id="basic-addon1">{{ _('Publication Date') }}</span>
                    <input type="text" class="form-control" aria-describedby="basic-addon1" id="publication_date" autocomplete="off"/>
                </div>
                    -->
                <input type="hidden" id="patient_age" />
                <!--<input type="button" value="{{ _('Save + Print') }}" id="btnPrint"  class="btn btn-default"/>
                <input type="button" value="{{ _('Print(English)') }}" id="btnPrint_eng"  class="btn btn-default"/>
                <input type="button" value="{{ _('New') }}" id="btnNew"  style="float:right;" class="btn btn-default"/>
                    -->
                <input type="button" value="{{ _('Print') }}" id="btn_print"  style="float:right;" class="btn btn-default"/>
                <input type="button" value="{{ _('Save') }}" id="btn_save"  style="float:right;" class="btn btn-default"/>
            </div>
        </div>
        <div class="partition print_preview_part">
            <div class="status_table_title">
                <span class="btn" >{{ _('Preview') }}</span>
            </div>



    <div class="report_view_wrap">
        <div class="report_view">
            <div class="page">
                <div id="wrap">
        <table class="top">
            <tr>
                <td>
                    <img src="/static/img/document_top.png" id="logo" />
                </td>
            </tr>
        </table>


        <div class="title">
            <text>BÁO CÁO Y TẾ</text>
            <br />
            <text><I>MEDICAL REPORT</I></text>
        </div>
        <br />
        <table class="patient_info">
            
            <tr>
                <td><b>1. Số hồ sơ</b>/ PID:<span id="preview_pid"></span></td>
                <td><b>2. Quốc tịch</b>/ Nationality:</td>
            </tr>
            <tr>
                <td><b>3. Họ và tên</b>/ Fullname: <span id="preview_name"></span></td>
                <td><b>4. Giới tính</b>/ Gender: <span id="preview_gender"></span></td>
            </tr>
            <tr>
                <td><b>5. Địa chỉ</b>/ Address: <span id="preview_address"></span></td>
                <td><b>6. Ngày sinh</b>/ D.O.B: <span id="preview_date_of_birth"></span></td>
            </tr>
            <tr>
                <td colspan="2"><b>7. Số điện thoại</b>/Phone number : <span id="preview_phone"></span></td>
            </tr>
            <tr>
                <td colspan="2"><b>8. Thời gian đến khám bệnh</b>/ Date to visit clinic: <span id="preview_date_visit"></span></td>
            </tr>
            <tr>
                <td colspan="2"><b>9. Khoa khám bệnh</b>/ Department: <span id="preview_depart"></span></td>
            </tr>
            

        </table>
        <table class="contents">
            <tbody id="contents_datas">
                <tr>
                    <td><b>II. THÔNG TIN KHÁM BỆNH / <i>MEDICAL INFORMATION </i></b></td>
                </tr>
                <tr>
                    <td><b>1. Lý do khám bệnh </b>/ <i>Chief Complaint </i> : 
                    <br/>
                    <span id="preview_chief_complaint"></span>
                    </td>
                    
                </tr>
                <tr>
                    <td><b>2. Bệnh sử </b>/ <i>Medical History </i>:
                    <br />
                    <span id="preview_medical_history"></span>
                    </td>

                </tr>
                <tr>
                    <td><b>3.Khám lâm sàng </b>/ <i>Clinical examinations</i>:
                    <br />
                    <span id="preview_clinical_examations"></span></td>
                </tr>
                <tr>
                    <td><b>4. Khám cận lâm sàng </b>/ <i>Sub - Clinical examination </i>:
                    <br />
                    <span id="preview_sub_clinical_examination"></span></td>
                </tr>
                <tr>
                    <td><b>5. Chẩn đoán </b>/ <i>Diagnosis </i>:
                    <br />
                    <span id="preview_diagnosis"></span>
                    </td>
                </tr>
                <tr>
                    <td><b>6. Chẩn đoán ICD </b>/<i>ICD Diagnosis </i>:
                    <br />
                    <span id="preview_icd"></span></td>
                </tr>
                <tr>
                    <td><b>7. Hướng điều trị </b>/  <i>Treatment plans: </i>:
                    <br />
                    <span id="preview_treatment_plan"></span></td>
                </tr>
                <tr>
                    <td><b>8. Dặn dò </b>/: <i>Recommendation and Follow-up </i>:
                    <br />
                    <span id="preview_recommendation"></span></td>
                </tr>
                <tr>
                    <td><b>9.Ngày hẹn tái khám </b>/ <i>Date of re-examination </i>:
                    <span id="preview_re_examination"></span>
                    </td>
                </tr>
            </tbody>
        </table>

        <table class="footer">
            <tr>
                <td style="padding-left:370px;">
                    <b>
                        Ngày / Date : {{ date }}<br />
                        Bác sĩ/ Doctor<br />
                        <i>(Ký và ghi rõ họ tên)/(Sign)</i>
                    </b>

                </td>
            </tr>
        </table>
    </div>
                </div>
            </div>
        </div>
    </div>
</div>





    <div class="report_view_wrap" style="display:none;" >
        <div class="report_view">
            <div class="page">
                <div class="title">진&nbsp;료&nbsp;확&nbsp;인&nbsp;서</div>
                <div class="chart">
                    <table class="chart_table" style="empty-cells: hide;">
                        <tbody>
                            <tr class="tr_small">
                                <td >병록번호</td>
                                <td id="patient_chart_screen"></td>
                            </tr>
                            <tr class="tr_small">
                                <td >연 번 호</td>
                                <td id="patient_chart_datenumber_screen"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="middle">
                    <table style="width:100%;">
                        <tbody>
                            <tr class="tr_small">
                                <td >환자의 성명</td>
                                <td id="patient_name_screen"></td>
                                <td >성별</td>
                                <td id="patient_gender_screen"></td>
                                <td >연령</td>
                                <td id="patient_age_screen"></td>
                            </tr>
                            <tr class="tr_small">
                                <td>주민등록번호</td>
                                <td id="patient_ID_screen"></td>
                                <td style="text-align:center;">생년월일</td>
                                <td colspan="3" id="patient_date_of_birth_screen"> </td>
                            </tr>
                            <tr class="tr_small">
                                <td>주&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;소</td>
                                <td colspan="5" id="patient_address_screen"> </td>
                            </tr>
                            <tr class="tr_small">
                                <td>통&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;원</td>
                                <td colspan="5"></td>
                            </tr>

                            <tr>
                                <td style="height:18vh">의사소견</td>
                                <td colspan="5" id="reception_report_screen"></td>
                            </tr>
                            <tr>
                                <td class="tr_small">용&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;도</td>
                                <td colspan="5" id="reception_usage_screen"></td>
                            </tr>
                            <tr>
                                <td style="display:none;"></td>
                                <td colspan="6" class="last">
                                    <div style=" text-align:center; font-size:1vh">상기와 같이 진료 받았음을 확인 합니다.</div>
                                    <br />
                                    <br />
                                    <div class="last_contents" style="letter-spacing:-0.2px;">발&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;행&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;일&nbsp;:&nbsp; <span id="print_date_screen"></span></div>
                                    <div class="last_contents">의료기관 명칭 : &nbsp;I - MEDICARE</div>
                                    <div class="last_contents">의료기관 주소 : &nbsp;Tang, The Garden, Mydinh, Hanoi</div>
                                    <div class="last_contents">대표 전화번호 : &nbsp;081 - 933 - 0102</div>
                                    <br />
                                    <div style="margin-left:95px; line-height:200%;">면허번호 : &nbsp;&nbsp; 제  호</div>
                                    <div style="margin-left:95px;">&nbsp;&nbsp;&nbsp;&nbsp;성명 : &nbsp;&nbsp;<span id="doctor_name_screen"></span> (서명 또는 인)</div>
                                    <br />
                                    <div style="text-align:center; font-weight:bold;">I-MEDICARE</div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
        </div>

<div style="height:5000px;"></div>
<div class="page_print" >
        <div class="title">진&nbsp;료&nbsp;확&nbsp;인&nbsp;서</div>
        <div class="chart">
            <table class="chart_table" style="empty-cells: hide;">
                <tbody>
                    <tr class="tr_small">
                        <td style="width:28mm">병록번호</td>
                        <td style="width:36mm" id="patient_chart_print"></td>
                    </tr>
                    <tr class="tr_small">
                        <td style="width:28mm">연 번 호</td>
                        <td style="width:36mm" id="patient_serial_print"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="middle">
            <table>
                <tbody>
                    <tr class="tr_small">
                        <td style="width:28mm;">환자의 성명</td>
                        <td style="width:57mm;" id="patient_name_print"></td>
                        <td style="text-align:center; width:18.5mm;">성별</td>
                        <td style="text-align:center; width:20.5mm;" id="patient_gender_print"></td>
                        <td style="text-align:center; width:14mm;">연령</td>
                        <td style="text-align:center; width:29.5mm;" id="patient_age_print"></td>
                    </tr>
                    <tr class="tr_small">
                        <td>주민등록번호</td>
                        <td id="patient_ID_print"></td>
                        <td style="text-align:center;">생년월일</td>
                        <td colspan="3" id="patient_date_of_birth_print"> </td>
                    </tr>
                    <tr class="tr_small">
                        <td>주&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;소</td>
                        <td colspan="5" id="patient_address_print"> </td>
                    </tr>
                    <tr class="tr_small">
                        <td>통&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;원</td>
                        <td colspan="5" id="date_of_hospitalization_print"></td>
                    </tr>
                    <tr>
                        <td style="height:78mm">의사소견</td>
                        <td colspan="5" id="reception_report_print"></td>
                    </tr>
                    <tr>
                        <td class="tr_small">용&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;도</td>
                        <td colspan="5" id="reception_usage_print"></td>
                    </tr>
                    <tr>
                        <td style="display:none;"></td>
                        <td colspan="6" class="last">
                            <div style=" text-align:center; font-size:12px">상기와 같이 진료 받았음을 확인 합니다.</div>
                            <br />
                            <br />
                            <div class="last_contents" style="letter-spacing:-0.2px;">발&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;행&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;일&nbsp;:&nbsp; <span id="publication_date_print"></span></div>
                            <div class="last_contents">의료기관 명칭 : &nbsp;I - MEDICARE</div>
                            <div class="last_contents">의료기관 주소 : &nbsp;Tang 1, The Garden, My Dinh, Hanoi</div>
                            <div class="last_contents">대표 전화번호 : &nbsp;081 - 933 - 0102</div>
                            <br />
                            <div style="margin-left:210px; line-height:200%;">면허번호 : &nbsp;&nbsp; 제  호</div>
                            <div style="margin-left:210px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;성명 : &nbsp;&nbsp;<span id=""></span> (서명 또는 인)</div>
                            <br />
                            <div style="text-align:center; font-weight:bold;">I-MEDICARE</div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

<div class="page_print_eng" >
        <div class="title">Medical Report&nbsp;</div>
        <div class="chart">
            <table class="chart_table" style="empty-cells: hide;">
                <tbody>
                    <tr class="tr_small">
                        <td style="width:28mm">Chart Number</td>
                        <td style="width:36mm" id="patient_chart_print_eng"></td>
                    </tr>
                    <tr class="tr_small">
                        <td style="width:28mm">Serial Number</td>
                        <td style="width:36mm" id="patient_serial_print_eng"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="middle">
            <table>
                <tbody>
                    <tr class="tr_small">
                        <td style="width:28mm;">Name</td>
                        <td style="width:57mm;" id="patient_name_print_eng"></td>
                        <td style="text-align:center; width:18.5mm;">Sex</td>
                        <td style="text-align:center; width:20.5mm;" id="patient_gender_print_eng"></td>
                        <td style="text-align:center; width:14mm;">Age</td>
                        <td style="text-align:center; width:29.5mm;" id="patient_age_print_eng"></td>
                    </tr>
                    <tr class="tr_small">
                        <td>ID Number</td>
                        <td id="patient_ID_print_eng"></td>
                        <td style="text-align:center;">Birth</td>
                        <td colspan="3" id="patient_date_of_birth_print_eng"></td>
                    </tr>
                    <tr class="tr_small">
                        <td>Address</td>
                        <td colspan="5" id="patient_address_print_print_eng"> </td>
                    </tr>
                    <tr class="tr_small">
                        <td>Outbreak Date</td>
                        <td colspan="5" id="date_of_hospitalization_print_eng"></td>
                    </tr>
                    <tr>
                        <td style="height:78mm">Opinion</td>
                        <td colspan="5" id="reception_report_print_eng"></td>
                    </tr>
                    <tr>
                        <td class="tr_small">Purpose</td>
                        <td colspan="5" id="reception_usage_print_eng"></td>
                    </tr>
                    <tr>
                        <td style="display:none;"></td>
                        <td colspan="6" class="last">
                            <div style=" text-align:center; font-size:12px">I give my opinion like mentioned above.</div>
                            <br />
                            <br />
                            <div class="last_contents" style="letter-spacing:-0.2px;">Publication Date&nbsp;:&nbsp; <span id="publication_date_print_eng"></span></div>
                            <div class="last_contents">Name : &nbsp;I - MEDICARE</div>
                            <div class="last_contents">Address : &nbsp;Tang 1, The Garden, My Dinh, Hanoi</div>
                            <div class="last_contents">Number : &nbsp; 081 - 933 - 0102</div>
                            <br />
                            <div style="margin-left:230px; line-height:200%;">License : &nbsp;&nbsp; </div>
                            <div style="margin-left:230px">Doctor Name : &nbsp;&nbsp;<span id=""></span>  (Sign)</div>
                            <br />
                            <div style="text-align:center; font-weight:bold;">I-MEDICARE</div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>



<div id="patient_list" class="modal fade">
     <div class="modal-dialog" style="width:800px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span> <span class="sr-only">close</span></button>
                <h4>{{ _('Patient List') }}</h4>
                <div class="patient_search">
                {{ patient_search.filter }}
                {{ patient_search.search_input }}
                <input type="button" value="search" class="btn patient_search_btn" onclick="patient_search()"/>
                </div>
                <div id="modalBody" class="modal-body patient_searach_wrap">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>{{ _('Chart No') }}</th>
                                <th>{{ _('Name') }}</th>
                                <th>{{ _('Date of Birth') }}</th>
                                <th>{{ _('Phone') }}</th>
                            </tr>
                        </thead>
                        <tbody id="Patient_Search">
                            <tr style='height:3.9vh;'><td colspan="4"></td></tr>
                            <tr style='height:3.9vh;'><td colspan="4"></td></tr>
                            <tr style='height:3.9vh;'><td colspan="4"></td></tr>
                            <tr style='height:3.9vh;'><td colspan="4"></td></tr>
                            <tr style='height:3.9vh;'><td colspan="4"></td></tr>
                        </tbody>
                    </table>
                    
                    <div class="modal-footer">
                        <a class="btn btn-default" data-dismiss="modal" aria-hidden="true">Cancel</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


<div id="dynamic_div">

</div>
{% endblock %}


{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/report.css' %}" />



{% endblock %}

{% block scripts %}
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/printThis/1.15.0/printThis.min.js"></script>

<script src="{% static 'js/report.js' %}" type="text/javascript"></script>
{% endblock %}