
.inventory_precedure_grid {
    margin: 0 auto;
    height: 100%;
    width: 100%;
    display: grid;
    /*grid-template-columns: 70%;
    grid-template-rows: 50%;*/
}


.partition {
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    background: rgba(180, 180, 180, 0.15);
    border: 3.7px solid white;
    overflow: hidden;
}

.inventory_database {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    overflow-y: hidden;
}


.title_span {
    text-align: left;
    font-size: 16px;
    height: 26.5px;
    padding-top: 1px;
    margin-bottom: 5px;
    background: rgb(90,64,129);
    border-color: rgb(90,64,129);
}

    .title_span:hover {
        background: rgb(90,64,129);
        border-color: rgb(90,64,129);
    }



#search_type_div {
    display: inline-table;
    width: 200px;
}

#search_option_div {
    display: inline-table;
    width: 250px;
}



#search_type, #search_option {
    display: table-cell;
}

.date_input_div {
    display: inline-block;
}
.date_input {
    width: 100px;
    display: inline-block;
}
.search_input {
    width: 170px;
    display: inline-block;
}

.database_table {
    height: 600px;
    overflow: auto;
}

#list_database_table{
    table-layout:fixed;
}

    #list_database_table th, #list_database_table td{
        vertical-align:middle;
        text-align:center;
    }
    #list_database_table td {
        height: 40px;
    }
    #list_database_table thead tr th:nth-child(1){width:50px}
    #list_database_table thead tr th:nth-child(2){width:100px}
    #list_database_table thead tr th:nth-child(3){width:150px}
    #list_database_table thead tr th:nth-child(4){width:100px}
    #list_database_table thead tr th:nth-child(5){width:100px}
    #list_database_table thead tr th:nth-child(6){width:100px}
    #list_database_table thead tr th:nth-child(7){width:50px}
    #list_database_table thead tr th:nth-child(8){width:100px}
    #list_database_table thead tr th:nth-child(9){width:100px}
    #list_database_table thead tr th:nth-child(10){width:150px}
    #list_database_table thead tr th:nth-child(11) {
        width: 50px
    }

    #list_database_table tbody tr td:nth-child(10) {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        padding-left:15px;
        padding-right:20px;
    }

.label_type {
    display: inline-block;
    width: 80px;
}
.label_status {
    display: inline-block;
    width: 80px;
}

#modalBody .input-group {
    width: 100%;
    margin-bottom: 20px;
}

    #modalBody .input-group:last-child {
        margin-bottom: 0;
    }


#modalBody .input-group-addon {
    width: 100px;
}
#modalBody textarea {
    resize: none;
    height: 100px;
}
@media ( min-height: 1900px ) {
    .inventory_precedure_grid {
        width: 1920px;
        height: 800px;
    }
}