{% extends "app/layout.html" %}

{% load staticfiles %}
{% block content %}

{% csrf_token %}
    <div class="background_grid">
        <div class="customer_list partition">
            <div class="status_table_title">
                <span class="btn btn-danger title_span">{{ _('Profile Status') }}</span>
                    <div style="float:right;">
                        <input type="hidden" value="customer list" id="customer_list" />
                        <!--Date-->
                        <div class="date_input_div" style="{% if user.doctor %} margin-right:0px; {%endif%}">
                            {{ _('Date')}}:
                            <input type="text" class="form-control date_input" id="date_start" /> ~
                            <input type="text" class="form-control date_input" id="date_end" />
                        </div>             
                        <div class="input-group" id="document_control_depart_div" style="{% if user.doctor %} display:none; {%endif%}">
                            <span class="input-group-addon reception_table_title" id="basic-addon1">{{ _('Depart') }}</span>
                            <select id="control_depart" class="form-control">
                                <option value="">{{ _('All') }}</option>
                                {% for depart in departs %}
                                <option value="{{depart.id}}" {% if user.doctor.depart.id is depart.id %} selected {%endif%}>{{ depart.name }}</option>
                                {% endfor %}
                            </select>
                        </div> 
                        <div class="input-group" id="invoice_insurance_div" >
                            <span class="input-group-addon patient_table_title" id="basic-addon1">{{ _('Invoice/Insurance') }}</span>
                            <select name="invoice_insurance" id="invoice_insurance_filter" class="form-control costom-select " aria-describedby="basic-addon1" >
                                <option value="" selected="">{{ _('ALL') }}</option>
                                <option value="Invoice">{{ _('Invoice') }}</option>
                                <option value="Insurance">{{ _('Insurance') }}</option>                                              
                            </select>
                        </div>                                               
                        <div class="input-group" id="document_control_depart_div" >
                            <span class="input-group-addon patient_table_title" id="basic-addon1">{{ _('Status') }}</span>
                            <select name="depart" id="profile_status_filter" class="form-control costom-select " aria-describedby="basic-addon1" >
                                <option value="" selected="">{{ _('ALL') }}</option>
                                <option value="waiting">{{ _('Waiting') }}</option>
                                <option value="deleted">{{ _('Deleted') }}</option>
                                <option value="invoice">{{ _('Invoice') }}</option>
                                <option value="insurance">{{ _('Insurance') }}</option>
                                <option value="done">{{ _('Done') }}</option>                                                  
                            </select>
                        </div>                                                
                        <div class="input-group depart_select">
                            <span class="input-group-addon patient_table_title" id="basic-addon1">{{ _('Type') }}</span>
                            <select name="depart" id="patient_type" class="form-control costom-select " aria-describedby="basic-addon1" >
                                <option value="" selected="">{{ _('ALL') }}</option>
                                                    
                            </select>
                        </div>
                        <input type="text" id="patient_search" class="form-control"/>
                        <input type="button" id="patient_search_btn" class="btn btn-default" value="{{ _('Search') }}" style="display:inline;"/>
                    </div>
                </div>
            <div class="patient_list_table_wrap">
                <table class="table table-bordered table-hover table-striped" id="patient_list_table">
                    <thead>
                        <tr>
                            <th>{{ _('No') }}</th>
                            <th>{{ _('Chart') }}</th>
                            <th>{{ _('Date regis') }}</th>
                            <th>{{ _('Name') }}</th>
                            <th>{{ _('Address') }}</th>
                            <th>{{ _('Phone Number') }}</th>
                            <th>{{ _('Email')}}</th>
                            <th>{{ _('Depart') }}</th>
                            <th>{{ _('Red invoice') }}</th>
                            <th>{{ _('Insurance') }}</th>
                            <th>{{ _('Tax number') }}</th>
                            <th>{{ _('Company name') }}</th>
                            <th>{{ _('Company address') }}</th>
                            <th>{{ _('Recommend') }}</th>
                            <th>{{ _('Status') }}</th>
                            <th>{{ _('Send SMS') }}</th>
                        </tr>
                    </thead>
                    <tbody id="patient_list_table" class="patient_list_table">
               
                    </tbody>
                </table>
                <ul class="pagination" id="table_pagnation">
                </ul>
            </div>
            <td></td>
            <td></td>
        </div>
    </div>




<!-- SMS - personal -->
<div id="sms_modal" class="modal fade">
    <div class="modal-dialog" style="width:500px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span> <span class="sr-only">close</span></button>
                <h4 id="delete_database_header">{{ _('Send SMS') }}</h4>
                <div id="modalBody" class="modal-body">
                    <!--Patient Name-->
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">{{ _('Name') }}</span>
                        <input type="text" id="sms_modal_name" class="form-control medicine_control_input" aria-describedby="basic-addon1">
                    </div>
                    <!--Patient's phone-->
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">{{ _('Phone Number') }}</span>
                        <input type="text" id="sms_modal_phone" class="form-control medicine_control_input" aria-describedby="basic-addon1">
                    </div>
                    <input type="button" value="{{_('Vietnamese') }}" class="btn btn-primary save_cancel_btn" style="width:100px;" onclick="set_contentVN()"/>
                    <input type="button" value="{{_('Korean') }}" class="btn btn-primary save_cancel_btn" style="width:100px;" onclick="set_contentKR()"/>
                    <!--content-->
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">{{ _('Content') }}</span>
                        <textarea type="text" id="sms_modal_content" class="form-control medicine_control_input" aria-describedby="basic-addon1"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-default" data-dismiss="modal" aria-hidden="true">{{ _('Cancel') }}</a>
                    <a class="btn btn-primary" onclick="send_sms()">{{ _('Send') }}</a>
                </div>
                 
            </div>
        </div>
    </div>
</div>

<div id="Edit_Status_EventModal" class="modal fade">
    <div class="modal-dialog Edit_Status_modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span> <span class="sr-only">close</span></button>
                <h4>{{ _('Edit Profile Status') }}</h4>
                    <div id="modalBody" class="modal-body" >
                        <input type="hidden" value="" id="selected_reception_id"/>
                        <h5>{{ _('Status') }}</h5>
                        <table class="table table-bordered">
                            <tr>
                                <td >
                                    <div class="input-group edit_reception_title" >
                                        <span class="input-group-addon Edit_Reception_input-group-addon" id="basic-addon1">{{ _('Status') }}</span>
                                        <select id="edit_status" class="form-control">
                                            <option value="waiting">{{ _('Waiting') }}</option>
                                            <option value="deleted">{{ _('Deleted') }}</option>
                                            <option value="invoice">{{ _('Invoice') }}</option>
                                            <option value="insurance">{{ _('Insurance') }}</option>
                                            <option value="done">{{ _('Done') }}</option>
                                        </select>                                        
                                    </div>
                                </td>
                            </tr>
                        </table>

                        <div style="margin-top:10px;">
                            <!-- <input type="button" value="{{ _('Delete') }}" class="btn btn-danger" onclick="edit_reception_del()"/> -->
                            <div style="text-align:right; float:right;">
                                <input type="button" value="{{ _('Close') }}" class="btn btn-default" data-dismiss="modal"/>
                                <input type="button" value="{{ _('Save') }}" class="btn btn-primary" onclick="edit_status_save()" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
<script>
    function set_contentVN() {
      document.getElementById("sms_modal_content").value = "Thông báo: \nXe của phòng khám đang trên đường đến điểm đón. \nQuý khách vui lòng chú ý! \nBiển số xe:\nHiệu:\nMàu sắc:\nSố liên lạc tài xế:\nHân hạn được đón tiếp!";
    };
    function set_contentKR() {
      document.getElementById("sms_modal_content").value = "아이메디케어병원 픽업차량이 출발했습니다. \n차량번호/Biển số xe: \n브랜트/Hiệu: \n색깔/Màu sắc:\n기사연락처/Số liên lạc tài xế: \n전화기를 유의해주시면 감사하겠습니다";
    }    
</script>
{% endblock %}


{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/profile_status.css' %}" />
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

{% endblock %}

{% block scripts %}
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.js"></script>
<script src="{% static 'js/profile_status.js' %}" type="text/javascript"></script>
{% endblock %}