


    .background_grid {
        margin: 0 auto;
        height: 100%;
        width: 100%;
        display: grid;
        grid-template-columns: 70%;
    }

.partition {
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    background: rgba(180, 180, 180, 0.15);
    border: 3.7px solid white;
    overflow: hidden;
}


.title_span {
    margin-bottom: 15px;
    font-size: 15px;
    height: 30px;
    padding-top: 1px;
    background: rgb(90,64,129);
    border-color: rgb(90,64,129);
}

    .title_span:hover {
        background: rgb(90,64,129);
        border-color: rgb(90,64,129);
    }

.customer_list {
    grid-column-start: 1;
    grid-column-end: 2;
}

.customer_info {
    grid-column-start: 2;
    grid-column-end: 3;
}


.patient_list_table_wrap{
    height:550px;
}


.depart_select {
    width: 115px;
    display: inline-table;
}

    .depart_select span, .depart_select select {
        padding: 5px;
    }


#patient_search {
    width: 110px;
    display: inline;
}

.radiation_waiting_control {
    text-align: right;
    float:right;
}

#patient_list_table {
    table-layout: fixed;
}

    #patient_list_table thead tr th{
        vertical-align: middle;
        text-align: center;
    }
    #patient_list_table tbody tr td {
        vertical-align: middle;
        text-align: center;
        height: 47px;
    }
#patient_list_table thead tr th:nth-child(1){
    width:60px;
}
#patient_list_table thead tr th:nth-child(2) {
    width: 100px;
}
#patient_list_table thead tr th:nth-child(3) {
    width: 180px;
}
#patient_list_table thead tr th:nth-child(4),
#patient_list_table thead tr th:nth-child(5),
#patient_list_table thead tr th:nth-child(6) {
    width: 120px;
}

#patient_list_table thead tr th:nth-child(7) {
}
        #patient_list_table thead tr th:nth-child(8) {
            width: 65px;
        }


    .nav-tabs > li.active > a,
    .nav-tabs > li.active > a:hover,
    .nav-tabs > li.active > a:focus {
        color: #fff;
        cursor: default;
        background-color: rgb(90,64,129);
        border: 1px solid rgb(90,64,129);
        border-bottom-color: transparent;
    }

.nav-tabs > li > a {
    background-color: #eee;
    height: 30px;
    padding: 5px;
}

.tab-pane {
    margin-bottom:10px;
    height: 600px;
    border:1.4px solid rgb(90,64,129);
    padding:10px;
}


    .tab-pane .input-group {
        margin-bottom:10px;
        width:100%;
    }


    .tab-pane .input-group-addon {
        width: 100px;
    }




#modalBody .input-group{
    width:100%;
    margin-bottom:20px;
}

#modalBody .input-group:last-child {
    margin-bottom: 0;
}


#modalBody .input-group-addon {
    width: 100px;
}

#modalBody textarea {
    resize:none;
    height:100px;
}


#visit_history {
    height: 600px;
    overflow-y: auto;
}

    #visit_history thead tr th, #visit_history tbody tr td{
        vertical-align:middle;
        text-align:center;
    }







    @media ( min-width: 1900px ) {
    }



