.board_grid {
    margin: 0 auto;
    height: 100%;
    width: 100%;
    display: grid;
}


.partition {
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    background: rgba(180, 180, 180, 0.15);
    border: 3.7px solid white;
    overflow: hidden;
}

.inventory_database {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    overflow-y: hidden;
}


.title_span {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 15px;
    padding-top: 1px;
    background: rgb(233, 69, 139);
    border-color: rgb(233, 69, 139);
}

    .title_span:hover {
        background: rgb(233, 69, 139);
        border-color: rgb(233, 69, 139);
    }


.dashboard_board_part {
    border: 1px solid black;
    width: 600px;
    height: 300px;
}

.dashboard_board_title {
    width:100%;
}

.dashboard_board_see_more {
    float: right;
    height:100%;
    vertical-align:middle;
}