.board_grid {
    margin: 0 auto;
    height: 100%;
    width: 100%;
    display: grid;
}


.partition {
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    background: rgba(180, 180, 180, 0.15);
    border: 3.7px solid white;
    overflow: hidden;
}

.inventory_database {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    overflow-y: hidden;
    text-align:center;
    
}

.table_title{
    text-align:left;
}

.title_span {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 15px;
    padding-top: 1px;
    background: rgb(233, 69, 139);
    border-color: rgb(233, 69, 139);
}

    .title_span:hover {
        background: rgb(233, 69, 139);
        border-color: rgb(233, 69, 139);
    }



.draft_table_wrap {
    width: 1400px;
    height: 750px;
    text-align: center;
    margin: 0 auto;
}

.draft_table_div{
    height:600px
}

#draft_table{
    letter-spacing:-1px;
    table-layout:fixed;
}

#draft_table tr th{
    vertical-align:middle;
    text-align:center;
}

    #draft_table tr th:nth-child(1),
    #draft_table tr th:nth-child(2),
    #draft_table tr th:nth-child(3){
        width: 50px;
    }
    
    
    #draft_table tr th:nth-child(4){
        
    }
    #draft_table tr th:nth-child(5),
    #draft_table tr th:nth-child(6),
    #draft_table tr th:nth-child(7),
    #draft_table tr th:nth-child(8),
    #draft_table tr th:nth-child(9),
    #draft_table tr th:nth-child(10),
    #draft_table tr th:nth-child(11){
        width: 110px;
    }

    #draft_table tr th:nth-child(12){
        width:50px;
    }
    #draft_table tr th:nth-child(13) {
        width: 70px;
    }




#btn_new{
    float:right;
}

.new_edit_title_content_table{
    table-layout:fixed;
}

    .new_edit_title_content_table thead tr th{
        vertical-align: middle;
        text-align: center;
    }

    .new_edit_title_content_table thead tr th:nth-child(1) {
        width:50px;
    }
    .new_edit_title_content_table thead tr th:nth-child(2) {
    }
    .new_edit_title_content_table thead tr th:nth-child(3) {
        width: 100px;
    }
        .new_edit_title_content_table thead tr th:nth-child(4) {
            width: 200px;
        }
    .new_edit_title_content_table thead tr th:nth-child(5) {
        width: 150px;
    }

    .new_edit_title_content_table tbody tr td {
        vertical-align: middle;
        text-align: center;
    }

        .new_edit_title_content_table tbody tr td:nth-child(3),
        .new_edit_title_content_table tbody tr td:nth-child(4) {
            text-align:right;
        }