
body {
    width: 1920px;
}

.pharmacy_grid {
    margin: 0 auto;
    height: 800px;
    width: 1920px;
    display: grid;
    grid-template-columns: 70%;
    grid-template-rows: 50%;
}


.partition {
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    background: rgba(180, 180, 180, 0.15);
    border: 3.7px solid white;
    overflow: hidden;
}

.pharmacy_database {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    overflow-y: hidden;
}


.inventory_table_title_span {
    margin-bottom: 15px;
    font-size: 15px;
    height: 30px;
    padding-top: 1px;
    background: rgb(90,64,129);
    border-color: rgb(90,64,129);
}

    .inventory_table_title_span:hover {
        background: rgb(90,64,129);
        border-color: rgb(90,64,129);
    }

#inventory_database_table {
    height: 650px;
    table-layout: fixed;
}
    #inventory_database_table thead tr th {
        font-weight: 700;
        text-align: center;
        vertical-align: middle;
        width: 100px;
    }

    #inventory_database_table thead tr th:nth-child(1){
        width:50px;
    }
    #inventory_database_table thead tr th:nth-child(2) {
        width:400px;
    }
    #inventory_database_table thead tr th:nth-child(3) {
        width:250px;
    }
    #inventory_database_table thead tr th:nth-child(4) {
        
    }

    #inventory_database_table thead tr th:nth-child(9) {
        widtH: 80px;
    }


#inventory_database_table tbody tr {
    height: 30px;
}
        #inventory_database_table tbody tr td:nth-child(3){
            
        }
        #inventory_database_table tbody tr td:nth-child(3), #inventory_database_table tbody tr td:nth-child(4) {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            padding-right: 15px;
        }
    #inventory_database_table tbody tr td:nth-child(5), #inventory_database_table tbody tr td:nth-child(6) {
        text-align: center;
    }
    #inventory_database_table tbody tr td:nth-child(7) {
        text-align: right;
    }
        #inventory_database_table tbody tr td:nth-child(8) {
            text-align: center;
        }

#search_depart_div {
    display: inline-table;
    width: 200px;
}

#search_depart {
    display: table-cell;
}

#add_edit_database .input-group {
    width: 100%;
}
#add_edit_database .input-group-addon:first-child {
    width: 150px;
    font-weight:700;
}

#add_edit_database_code_check_string {
    display:table;
    height:30px;
}
#add_edit_database_code_check_string div{
    display:table-cell;
    vertical-align:middle;
}

#add_edit_database_table {
    table-layout: fixed;
}

.database_btn_edit {
    width: 45px;
}
.database_btn_delete {
    margin-left: 10px;
}

.input_span {
}


.inventory_search_select {
    width: 170px;
    display: inline-block;
}

.pharmacy_database_table{
    height:680px;
    overflow:auto;
}

.inventory_history_part1 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    overflow-y: hidden;
}

#inventory_history_date {
    width:100px;
    display:inline;
}

#inventory_history_table {
    table-layout: fixed;
}

#inventory_history_total {
    float:right;
}

#inventory_history_table thead tr th:nth-child(1) {
    width:50px;
}
    #inventory_history_table thead tr th:nth-child(2) {
        width:140px;
    }
    #inventory_history_table thead tr th:nth-child(3) {
        width: 65px;
    }
    #inventory_history_table thead tr th:nth-child(4) {
        width: 50px;
    }
#inventory_history_table thead tr th:nth-child(5) {
}

#add_medicine_table .input-group-addon:first-child {
    width:150px;
}

#inventory_history_div {
    width:100%;
    height: 280px;
    overflow-y: auto;
}

#inventory_add{
    float:right;
}

.inventory_history_part2 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    overflow-y: hidden;
}


#inventory_expiry_div {
    height: 325px;
    overflow-y: auto;
}

#inventory_expiry_table{
    table-layout:fixed;
}

    #inventory_expiry_table thead tr th{
        vertical-align:middle;
        text-align:center;
    }

    #inventory_expiry_table thead tr th:nth-child(1) {
        width: 50px;
    }

    #inventory_expiry_table thead tr th:nth-child(6) {
        width: 80px;
    }

#inventory_expiry_tbody tr td {
    text-align: center;
    vertical-align: middle;
}

.add_medicine_database_h4 {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

#add_medicine_input_price_need {
    vertical-align: middle;
}