


.form-control {
    font-size: 12px;
    padding: 3px 12px;
    height: 30px;
}

.laboratory_grid {
    margin: 0 auto;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 33% 46% 21%
}

.partition {
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    background: rgba(180, 180, 180, 0.15);
    border: 3.7px solid white;
    height: 100%;
    overflow: auto;
}
.laboratory_patient_list {
    grid-column-start:1;
    grid-column-end: 2;
}
.laboratory_list {
    grid-column-start: 2;
    grid-column-end: 3;
}

#laboratory_test_list_div {
    margin-top: 0px;
}

#laboratory_list_table thead tr th{
    vertical-align:middle;
    text-align:center;
}
    #laboratory_list_table tbody tr td:nth-child(3), #laboratory_list_table tbody tr td:nth-child(5) {
        text-align:left;
    }


#laboratory_test_list_table {
    table-layout: fixed;
}

    #laboratory_test_list_table thead tr th {
        vertical-align: middle;
        text-align: center;
    }

    #laboratory_test_list_table thead tr th:nth-child(1) {
        width: 30px;
    }
        #laboratory_test_list_table thead tr th:nth-child(2) {
            width: 130px;
        }
    #laboratory_test_list_table thead tr th:nth-child(3) {
        width: 75px;
    }
        #laboratory_test_list_table thead tr th:nth-child(4) {
            width: 170px;
        }
        #laboratory_test_list_table thead tr th:nth-child(5) {
            width: 70px;
        }
        #laboratory_test_list_table thead tr th:nth-child(6) {
            width: 70px;
        }

    #laboratory_test_list_table tbody tr td {
        vertical-align: middle;
        text-align: center;
    }

        #laboratory_test_list_table tbody tr td:nth-child(2), #laboratory_test_list_table tbody tr td:nth-child(4), #laboratory_test_list_table tbody tr td:nth-child(5) {
        text-align:left;
        }
.laboratory_list_table_wrap {
    margin-top: 35px;
    overflow-y: auto;
    height: 620px;
}

.laboratory_list_table > tbody > tr {
    cursor: pointer;
}

.laboratory_list_table tbody tr td{
    vertical-align:middle;
}

.laboratory_control {
    grid-column-start: 3;
    grid-column-end: 4;
}



.lab_manage_title {
    font-weight: bold;
    width: 125px;
    text-align: left;
}

.lab_control_input-group{
    width:100%;
}

.laboratory_list_calendar{
    width:75px;
    padding:5px;
    display:inline-block;
}

.laboratory_search_select {
    width: 100px;
    display: inline-block;
}

.laboratory_search_input {
    width: 120px;
    display: inline-block;
}


.lab_control_div input{
    display:inline;
}

.depart_select{
    display:inline-table;
    width:115px;
}

    .depart_select span, .depart_select select {
    padding:5px;
    
    }

    @media ( min-width: 1900px ) {
        .laboratory_list_table_wrap {
        height: 760px;
    }

        .laboratory_search_input {
            width:140px;

        }

        }