

.doctor_grid {
    margin: 0 auto;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 30% 40%;
    grid-template-rows: 40% 2% 24% 10%
}

.partition {
    padding: 5px;
    padding-left: 20px;
    padding-right: 15px;
    background: rgba(180, 180, 180, 0.15);
    border: 3.7px solid white;
}

.doctor_patient_info {
    grid-row-start: 1;
    grid-row-end: 3;
    overflow: scroll;
}
.doctor_vital {
    grid-row-start: 3;
    grid-row-end: 4;
}

.ui-autocomplete {
    height: 300px;
    width: 200px;
    overflow-y: auto;
    overflow-x: hidden;
    /* prevent horizontal scrollbar */
}
.ui-widget{
    font-size:11px;
}

.doctor_patient_info input {
    /* width: 150px; */
}
    .doctor_patient_info input[type=radio] {
        width: auto;
    }
    .doctor_patient_info table li {
        margin-left: 4.5px;
        margin-right: 0;
        display:inline;
    }

    .doctor_patient_info table ul {
        list-style:none;
        margin:0px;
        padding:0px
    }
    
    doctor_patient_info table ul label{
        font-size:11px;
    }

    .doctor_patient_info textarea {
        width: 150px;
        overflow: auto;
    }

.doctor_waiting {
    grid-row-start: 4;
    grid-row-end: 6;
    grid-column-start: 1;
    grid-column-end: 2;
}

.doctor_diagnosis {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;

}

.diagnosis_textarea {
    max-width: none;
    width: 100%;
    height: 50px;
    resize: none;
    overflow: auto;
    margin-bottom:10px;
}


.diagnosis_select_title {
    font-weight: 500;
    font-size: 20px;
    margin-bottom:10px;
}
#reception_table {
    margin-bottom: 0px
}
.diagnosis_select_title div {
    display: inline;
    border: 1px solid #bcbcbc;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}


.diagnosis_select_contents {
    /*width: 420px;
    height: 580px;*/
    width: 530px;
    height: 760px;
    overflow-y: auto;
    border: 2px solid #adadad;
}

#patient_gender {
    margin-top: 9px;
}

    #patient_gender input {
        vertical-align: middle;
        margin-top: -1px;
    }


.diagnosis_selected_method{
    /*height: 160px;*/
    height:180px;
    margin-bottom:15px;
    overflow:auto;
}

.diagnosis_selected_input {
    width: 100%;
}
.diagnosis_selected_input_number {
    width: 100%;
}

#diagnosis_selected thead tr th {
    text-align: center;
}

    #diagnosis_selected thead tr th:nth-child(1) {
        width: 70px;
    }

#diagnosis_selected thead tr th:nth-child(2) {

}

#diagnosis_selected thead tr th:nth-child(3) {
    width:70px;
}

    #diagnosis_selected thead tr th:nth-child(4) {
        width: 70px;
    }

    #diagnosis_selected thead tr th:nth-child(5) {
        width: 70px;
    }

    #diagnosis_selected thead tr th:nth-child(6) {
        width:150px;
    }

    #diagnosis_selected thead tr th:nth-child(7) {
        width: 25px;
    }

#search_patient{
    width:120px;
    display:inline;
}
.diagnosis_select_method {
    grid-row-start: 1;
    grid-row-end: 6;
    grid-column-start: 3;
    grid-column-end: 4;
}

.doctor_past_diagnosis {
    grid-row-start: 5;
    grid-row-end: 6;
    grid-column-start: 2;
    grid-column-end: 3;
}

.order_list {
    grid-row-start: 2;
    grid-row-end: 5;
    grid-column-start: 2;
    grid-column-end: 3;
    overflow:hidden;
}

.status_table_filter {
    display: inline;
    font-size: 15px;
}

.status_table_title span {
    text-align: left;
    font-size: 16px;
    height: 26.5px;
    padding-top: 1px;
    margin-bottom: 5px;
    background: rgb(20,135,130);
    border-color: rgb(20,135,130);
}


.diagnosis_history_taking_title {
    width: 120px;
    font-weight: bold;
}

.diagnosis_history_taking_contents {
    resize: none;
    width: 440px;
    height: 40px !important;
}

.Vitial_table_warp{
    height:150px;
    overflow:auto;
}

.diagnosis_functions{
    float:right;
}

.diagnosis_functions div{
        margin:0 auto;
}

.medical_report {
    background:#ccc;
    font-weight:bold;
    float:left;
}

.fu_date {
    width: 600px;
    float:left;
    display:inline-table;
}

    .fu_date #reservation_date {
        display: inline-block;
        width: 140px;
        border-top-right-radius: 4px;
    }
    .fu_date #reservation_type {
        display: inline-block;
        width: 110px;
        border-right:none;
    }
    .fu_date #reservation_memo {
        display: inline-block;
        width: 250px;
        border-top-right-radius:0px;
    }

#past_diagnosis_showlarge {
    margin-bottom: 10px;
    display:inline-block;
}

#vaccine_drop_down_warp {
    float: left;
    margin-right:10px;
}

    .diagnosis_select_category_tree ul {
    margin: 0 auto;
}

.diagnosis_select_category_tree label {
    margin:0
}

    .diagnosis_select_category_tree input[type="checkbox"] {
    display: none;
}

.diagnosis_select_category_tree input[type="checkbox"]:checked ~ ul {
    display: none;
}

.order_list_table {
    /* 
    border: 4px solid #adadad;
    border-top:none;
    */
}

.doctor_patient_table_title{
    font-weight:bold;
    width:100px;
    text-align:left;
    height:40px;
}

.doctor_patient_table_contents{
    height:40px;
}

.vital_input {
    width: 100%;
    text-align: center;
}

.vital_table td, .vital_table th {
    text-align: center;
}

.reception_waiting_date {
    width: 75px;
    padding: 5px;
    display: inline;
}
.reception_progress {
    width: 82px;
    display: inline;
}


.table_title {
    margin: 0;
    padding: 0;
    border: 0px;
}

.diagonal {
    border: 0;
    background-image: linear-gradient( to top right, rgba(0,0,0,0) calc(50% - 1px), #adadad, rgba(0,0,0,0) calc(50% + 1px) );
    border: 0px solid #adadad;
    border-bottom: 2px solid #adadad;
}
.diagonal_selected {
    border: 0;
    background-image: linear-gradient( to top right, rgba(0,0,0,0) calc(50% - 3px), #adadad, rgba(0,0,0,0) calc(50% + 3px) );
}

.table diagnosis_select_title2 {
    /*
    margin:0;
    cursor:pointer;
        */
}

.Rectption_Status_wrap{
    /*height:150px;*/
    height:200px;
    overflow:auto;
}


#Rectption_Status th, #Rectption_Status td {
    vertical-align: middle;
    text-align: center;
}


.diagnosis_table_wrap {
    overflow: auto;
    height: 140px;
}

.diagnosis_select_contents_talbe {
    table-layout: fixed;
}

    .diagnosis_select_contents_talbe thead tr th:nth-child(1) {
        width: 0px;
    }
    .diagnosis_select_contents_talbe thead tr th:nth-child(2) {
        width: 30px;
        text-align: center;
    }
    .diagnosis_select_contents_talbe thead tr th:nth-child(3) {
        width: 80px;
    }
    .diagnosis_select_contents_talbe thead tr th:nth-child(4) {
        width: 0px;
        text-align: center;
    }
    .diagnosis_select_contents_talbe thead tr th:nth-child(5) {
        width: 40px;
        text-align: center;
    }

    .diagnosis_select_contents_talbe tbody tr td:nth-child(2) {
        width: 30px;
        text-align: center;
    }


#diagnosis_select_medicine thead tr th:nth-child(2) {
    width: 30px;
}
#diagnosis_select_medicine thead tr th:nth-child(3) {
    width: 80px;
}
#diagnosis_select_medicine thead tr th:nth-child(4) {
    width: 15px;
}

#diagnosis_select_medicine thead tr th:nth-child(5) {
    width: 30px;
}
#diagnosis_select_medicine tbody tr td:nth-child(4){
    text-align:center;
}

.contents_items tr td:nth-child(3) {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding-right: 5px;
}

.icd_ul {
    list-style: none;
    margin: 0px;
    padding: 0;
    width: 100%;
}
.icd_ul li{
    height:40px !important;
}
#icd_icon_div{
    margin-top:5px;
}
#search_icd {
    height: 40px !important;
}

@-webkit-keyframes blink {
    0% {
        color: red;
    }

    50% {
        color: black;
    }
}

.need_medical_report {
    float: right;

    animation-name: blink;
    animation-duration: 1.5s;
    animation-timing-function: step-end;
    animation-iteration-count: infinite;
}
.input-group{
    width:100%;
}
.fu_date {
    width: 360px;
}

#patient_mark {
    padding: 3px;
    float: right;
    width: 50px;
    margin-right: 5px;
}

#status_drop_down_warp {
    float: left;
    margin-right: 5px;
}

#status_drop_down {
    height: 26px;
    width: 150px;
}

    #status_drop_down > span, #dropdown_vaccine > span{
        font-size: 12px;
        height: auto;
        background: none;
        border-left-color: rgba(0,0,0,0);
        border-right-color: rgba(0,0,0,0);
        border-bottom-color: rgba(0,0,0,0);
    }

#status_drop_down_warp .caret {
    float: right;
    margin-top: 6px;
}

.dropdown-menu li{
    cursor:pointer;
}

#past_vaccine_modal .modal-dialog {
    width:1600px;
}

#past_vaccine_table {
    table-layout: fixed;
}

    #past_vaccine_table th:nth-child(1){ width:50px; }
    #past_vaccine_table th:nth-child(2){ width: 200px;}
    #past_vaccine_table th:nth-child(3){}
    #past_vaccine_table th:nth-child(4){width: 60px;}
    #past_vaccine_table th:nth-child(5){ width: 200px;}
    #past_vaccine_table th:nth-child(6){ width: 120px;}
    #past_vaccine_table th:nth-child(7){ width: 120px;}
    #past_vaccine_table th:nth-child(8){ width: 120px;}
    #past_vaccine_table th:nth-child(9){ width: 320px;}
    #past_vaccine_table th:nth-child(10){ width: 120px;}
    #past_vaccine_table th:nth-child(11){ width: 120px;}

#vaccine_history_modal .input-group {
    margin-bottom: 20px;
}
#vaccine_history_modal .input-group-addon {
    width: 150px;
}
#vaccine_history_modal input {
}


    #past_vaccine_table td, #past_vaccine_table th {
        vertical-align: middle;
        text-align: center;
    }

    @media ( min-width: 1900px ) {
        .diagnosis_select_contents {
            width: 530px;
            height: 760px;
        }

        .Rectption_Status_wrap {
            height: 200px;
        }

        .Vitial_table_warp {
            height: 150px;
        }

        .diagnosis_selected_method {
            height: 180px;
        }

        .diagnosis_history_taking_contents {
            width: 570px;
            height: 40px !important;
        }

        .diagnosis_history_taking_title {
            width: 140px;
            font-weight: bold;
        }

        .diagnosis_table_wrap {
            height: 190px;
        }

        .doctor_patient_info {
            font-size: 20px;
        }

        .doctor_patient_table_title {
            width: 105px;
            height: 40px;
        }

        .doctor_patient_table_contents {
            height: 40px;
        }

        
        .icd_ul li {
            height: 40px !important;
        }
        #icd_icon_div {
            margin-top: 10px;
        }
        #search_icd{
            height:40px !important;
        }
    }