<!-- email_template.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Email Template</title>
    <style>
        /* body {
            font-family: Arial, sans-serif;
            background-color: #f5f5f5;
            color: #333;
        } */

        .content{
            font-family: Arial, sans-serif;
            /* background-color: #f5f5f5; */
            color: #333;
        }

        .signature{

        }

        .signature hr{
            width: 300px;
            color: #000;
        }
        
    </style>
</head>
<body>
    <div class="content" style="font: small / 1.5 Arial, Helvetica, sans-serif;">
        <p>Kính gửi anh( chị) ! </p>
        <p>Bên em là phòng khám iMedicare.</p>
        <p>Em xin gửi anh(chị) tài liệu dưới dạng tệp đính kèm dưới đây.</p>
        <p>Anh( chị) vui lòng kiểm tra và nếu có thắc mắc xin liên hệ với phòng khám  ạ </p>
        <p>Xin cảm ơn!</p>
    </div>
    <div class="signature">
        <div>
            <font face="georgia, serif" color="#3d85c6">
                <font size="4">--------------------------</font>
            </font>
        </div>
        <font face="georgia, serif" color="#3d85c6">
            <font size="4" style="font-size: large;">I-MEDICAR</font>
            <font size="4" style="font-size: large;">E&nbsp;</font>
            <font size="1" style="font-size: small;"> General Clinic</font>
        </font>
        <div>
            <font face="georgia, serif" color="#000000" style="font: small / 1.5 Arial, Helvetica, sans-serif;">Add: 1st The Garden Shopping Center, Me Tri St., Nam Tu Liem, Hanoi</font>
        </div>
        <div>
            <font color="#000000" style="font: small / 1.5 Arial, Helvetica, sans-serif;">
                <font face="georgia, serif">Tel: (+84) 81.760.0105 (VN)</font>
                <span style="font-family:georgia,serif">&nbsp; &nbsp; &nbsp; &nbsp;</span>
                <span style="font-family:georgia,serif">&nbsp; (+84) 81.340.0101 (KR)</span>
            </font>
        </div>
        <div style="font: small / 1.5 Arial, Helvetica, sans-serif;">
            <font color="#000000"><span style="font-family:georgia,serif"><br></span></font>
        </div>
        <div style="font: small / 1.5 Arial, Helvetica, sans-serif;">
            <span style="color:rgb(8,28,54);font-family:SegoeuiPc,&quot;Segoe UI&quot;,&quot;San Francisco&quot;,&quot;Helvetica Neue&quot;,Helvetica,&quot;Lucida Grande&quot;,Roboto,Ubuntu,Tahoma,&quot;Microsoft Sans Serif&quot;,Arial,sans-serif;font-size:15px;letter-spacing:0.2px">
                Nếu bạn đăng ký email công ty hoặc email của người khác  mà email đó không phải email của bạn, thông tin hồ sơ khám bệnh của bạn có thể bị lộ, vì vậy chúng tôi khuyên bạn chỉ nên đăng ký thông tin email của chính mình ,xin cảm ơn.
            </span><font color="#000000"><span style="font-family:georgia,serif"><br></span></font>
        </div>
    </div>
</body>
</html>
