
.statistics_grid {
    margin: 0 auto;
    width: 1920px;
    height: 1200px;
    display: grid;
    /*grid-template-columns: 70%;
    grid-template-rows: 50%;*/
}


.partition {
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    background: rgba(180, 180, 180, 0.15);
    border: 3.7px solid white;
    overflow: hidden;
}



.inventory_table_title_span {
    text-align: left;
    font-size: 16px;
    height: 26.5px;
    padding-top: 1px;
    margin-bottom: 5px;
    background: rgb(90,64,129);
    border-color: rgb(90,64,129);
}

    .inventory_table_title_span:hover {
        background: rgb(90,64,129);
        border-color: rgb(90,64,129);
    }


.statistics_table_grid {
    margin: 0 auto;
    height: 900px;
    width: 100%;
    display: grid;
    grid-template-columns: 600px 1200px;
    grid-template-rows: 200px 300px 200px 200px;
}
.sub_label{
    margin-bottom:10px;
}

.statistics_table_grid > div {
    padding-right:30px;
}

#statistics_div_gender {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

#statistics_div_nation{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

#statistics_div_payment_method{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
}

#statistics_div_age{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
}

#statistics_div_top20 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 5;
}


#statistics_table {
    table-layout: fixed;
}

.statistics_table_wrap table th, .statistics_table_wrap table td {
    vertical-align: middle;
    text-align: center;
}

    .statistics_table_wrap table td:nth-child(3){
        text-align:right;
        padding-right:20px;
    }


    .statistics_table_wrap {
       /* width: 1200px;*/
    }

.date_input_div {
    display: inline;
    margin-right: 20px;
}

.date_input {
    display: inline;
    width: 90px;
}


.total_div{
    width:100%;
    text-align:right;
    font-weight:700;
    font-size:15px;
}

    .total_div span:first-child{
        display:inline-block;
    }
    .total_div span:nth-child(2){
        display: inline-block;
        width: 150px;
    }

    .contents_filter_div {
        display: inline-table;
    }

#statistics_table_top20{
    table-layout:fixed;
}
    
    #statistics_table_top20 tr, #statistics_table_top20 td {
        vertical-align: middle;
        text-align: center;
    }
    #statistics_table_top20 th:nth-child(1){width:50px;}
    #statistics_table_top20 th:nth-child(2){width:220px;}
    #statistics_table_top20 th:nth-child(3){width:120px;}
    #statistics_table_top20 th:nth-child(4){width:50px;}
    #statistics_table_top20 th:nth-child(5){width:120px;}
    #statistics_table_top20 th:nth-child(6){width:100px;}
    #statistics_table_top20 th:nth-child(7){width:120px;}
    #statistics_table_top20 th {
        padding: 8px 10px;
    }
        #statistics_table_top20 td {
        padding: 6px 10px;
    }
    #contents_filter_div_depart {
        width: 150px;
    }
    @media ( min-height: 1900px ) {
        .statistics_grid {
        width: 1920px;
        height: 800px;
    }
}



#statistics_table_nation {
    border-spacing:0px;
    padding:0px;
    height: 250px;
}
    #statistics_table_nation th, #statistics_table_gender th, #statistics_table_payment_method th, #statistics_table_age th {
        border-spacing: 0px;
        padding: 3px 5px;
    }

    #statistics_table_nation td, #statistics_table_gender td, #statistics_table_payment_method td, #statistics_table_age td {
        border-spacing: 0px;
        padding: 3px 5px;
    }