
.statistics_grid {
    margin: 0 auto;
    min-height:1500px;
    height: 1500px;
    width: 100%;
    display: grid;
    /*grid-template-columns: 70%;
    grid-template-rows: 50%;*/
}


.partition {
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    background: rgba(180, 180, 180, 0.15);
    border: 3.7px solid white;
    overflow: hidden;
}



.inventory_table_title_span {
    text-align: left;
    font-size: 16px;
    height: 26.5px;
    padding-top: 1px;
    margin-bottom: 5px;
    background: rgb(90,64,129);
    border-color: rgb(90,64,129);
}

    .inventory_table_title_span:hover {
        background: rgb(90,64,129);
        border-color: rgb(90,64,129);
    }


.statistics_table_grid {
    margin: 0 auto;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 50%;
}
.sub_label{
    margin-bottom:10px;
}

.statistics_table_grid > div {
    padding: 10px 20px;
}

#statistics_div_left {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    overflow-y: hidden;
}


#statistics_div_right {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    overflow-y: hidden;
}



#statistics_table {
    table-layout: fixed;
}

.statistics_table_wrap table th, .statistics_table_wrap table td {
    vertical-align: middle;
    text-align: center;
    
}

.statistics_table_wrap table td {
    font-size: 14px;
    text-align: left;
}
.fc-event {
    line-height: 25px !important;
    background: none !important;
    color: black !important;
    border-radius:unset !important;
}
.fc-button-group{
    display:none !important;
}
.fc-title{

}

.statistics_table_wrap {
    width: 1500px;
    margin-left:200px;
    /*margin: 0 auto*/
}

.date_input_div {
    display: inline;
    margin-right: 20px;
}

.date_input {
    display: inline;
    width: 90px;
}


.total_div{
    width:100%;
    text-align:right;
    font-weight:700;
    font-size:15px;
}

    .total_div span:first-child{
        display:inline-block;
    }
    .total_div span:nth-child(2){
        display: inline-block;
        width: 150px;
    }

    .contents_filter_div {
        display: inline-table;
    }

#contents_filter_div_depart {
    width: 150px;
}
    @media ( min-height: 1900px ) {
        .statistics_grid {
        width: 2400px;
        height: 1800px;
    }
}