
.statistics_grid {
    margin: 0 auto;
    height: 100%;
    width: 100%;
    display: grid;
    /*grid-template-columns: 70%;
    grid-template-rows: 50%;*/
}


.partition {
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    background: rgba(180, 180, 180, 0.15);
    border: 3.7px solid white;
    overflow: hidden;
}


.patient_search_select {
    width: 130px;
    display: inline-block;
    border-radius:0px;
    border-right:none;
}
.patient_search_input {
    width: 140px;
    display: inline-block;
    border-radius: 0px 4px 4px 0px;
}

#contents_filter_div_patient_name{
    /*width:370px;*/
    width:240px;
}

.search_table_No {
    width: 3vw;
}

.search_table_Date {
    width: 5vw;
}
.search_table_Patient {
    width: 7vw;
}
.search_table_Date_of_Birth {
    width: 7vw;
}
.search_table_Address {
    width: 8vw;
}
.search_table_Depart {
    width: 4vw;
}
.search_table_Doctor {
    width: 7vw;
}
.search_table_Order{
    width:10vw;
}

.inventory_table_title_span {
    text-align: left;
    font-size: 16px;
    height: 26.5px;
    padding-top: 1px;
    margin-bottom: 5px;
    background: rgb(90,64,129);
    border-color: rgb(90,64,129);
}

    .inventory_table_title_span:hover {
        background: rgb(90,64,129);
        border-color: rgb(90,64,129);
    }

#statistics_table{
    table-layout:fixed;
}

    #statistics_table th, #statistics_table td{
        vertical-align: middle;
        text-align: center;
    }

    #statistics_table th:nth-child(1){width:30px;}
    #statistics_table th:nth-child(2){width:30px;}
    #statistics_table th:nth-child(3){width:90px;}
    #statistics_table th:nth-child(4){width:60px;}
    #statistics_table th:nth-child(5){width:70px;}
    #statistics_table th:nth-child(6){width:70px;}
    #statistics_table th:nth-child(7){width:60px;}
    #statistics_table th:nth-child(8){width:90px;}
    #statistics_table th:nth-child(9){width:50px;}
    #statistics_table th:nth-child(10){width:75px;}
    #statistics_table th:nth-child(11){width:75px;}
    #statistics_table th:nth-child(12){width:70px;}                                                       

.statistics_table_wrap {
    width: 1500px;
    margin-left:200px;
    /*margin:0 auto;*/
    margin-top:0px;
}


#statistics_depart_table {
    table-layout: fixed;
}

    #statistics_depart_table th, #statistics_depart_table td {
        vertical-align: middle;
        text-align: center;
    }

        #statistics_depart_table th:nth-child(1) {
           
        }

        #statistics_depart_table th:nth-child(2), #statistics_depart_table th:nth-child(3) {
            width: 160px;
        }

        #statistics_depart_table td:nth-child(3) {
            padding-right: 20px;
            text-align: right;
        }

        #statistics_depart_table td:nth-child(4), #statistics_depart_table td:nth-child(5) {
            vertical-align: middle;
            text-align: right;
        }

.statistics_depart_table_wrap {
    width: 800px;
    margin: 0 auto;
}

.date_input_div {
    display: inline;
    margin-right: 20px;
}

.date_input {
    display: inline;
    width: 90px;
}


.total_div{
    width:100%;
    text-align:right;
    font-weight:700;
    font-size:15px;
}

    .total_div span:nth-child(1), .total_div span:nth-child(3) {
        display: inline-block;
        margin-left:20px;
    }
    .total_div span:nth-child(2), .total_div span:nth-child(4) {
        display: inline-block;
        width: 100px;
        margin-right:10px;
    }

    .contents_filter_div {
        display: inline-table;
    }

#contents_filter_div_depart {
    width: 150px;
}
    @media ( min-height: 1900px ) {
        .statistics_grid {
        width: 1920px;
        height: 800px;
    }
}