{% extends "app/layout.html" %}

{% load staticfiles %}
{% block content %}
{% csrf_token %}
<div class="inventory_precedure_grid">
    <div class="statistics_grid partition">
        <div class="statistics_table_wrap">
            <span class="btn btn-danger inventory_table_title_span">{{ _('Package Statistics') }}</span>
            <div style="float:right;">
                <input type="hidden" value="PROCEDURE" id="revenue_search_type" />
                <!--Date-->
                <div class="date_input_div" style="{% if user.doctor %} margin-right:0px; {%endif%}">
                    {{ _('Date')}}:
                    <input type="text" class="form-control date_input" id="date_start" /> ~
                    <input type="text" class="form-control date_input" id="date_end" />
                </div>
                <!--Depart-->
                <div class="input-group contents_filter_div" id="contents_filter_div_depart" style="{% if user.doctor %} display:none; {%endif%}">
                    <span class="input-group-addon">{{ _('Depart') }}</span>
                    <select id="contents_filter_depart" class="form-control" aria-describedby="basic-addon1">
                        <option value="">{{ _('All') }}</option>
                        {% for data in depart_medical %}
                        <option value="{{ data.code }}" {% if user.doctor.depart.id is data.code %} selected {%endif%}>{{ data.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="contents_filter_div" id="contents_filter_div_patient_name">
                    <span class="input-group-addon">{{ _('Payment Name') }}</span>
                    <select name="filter" id="patient_search_select" class="form-control patient_search_select hide" aria-describedby="basic-addon1">
                        <option value="" selected>{{_('All') }}</option>
                        <option value="name">{{_('Name') }}</option>
                        <option value="chart">{{_('Chart No') }}</option>
                        <option value="date_of_birth">{{_('Date of Birth') }}</option>
                        <option value="phone">{{_('Phone Number') }}</option>
                    </select>
                    <input type="text" name="search_input" id="patient_search_input" class="form-control patient_search_input" aria-describedby="basic-addon1" autocomplete="off" placeholder="{{ _('At least 2 characters') }}"/>
                </div>                
            </div>
            <div style="text-align:right; margin-bottom:5px;">
                <a class="btn btn-default" onclick="excel_download()"><i class="fa fa-file-excel-o"></i>{{ _('Download') }}</a>
            </div>
            <div class="total_div">
                <span>{{ _('Total Revenue') }} : </span>
                <span></span>
            </div>
            <br />
            <div class="precedure_database_list">
                <div class="precedure_database_table">
                    <table class="table table-hover table-striped" id="statistics_table">
                        <thead>
                            <tr>
                                <th>{{ _('No') }}</th>
                                <th>{{ _('Chart') }}</th>
                                <th>{{ _('Name') }}</th>
                                <th>{{ _('Gender') }}</th>
                                <th>{{ _('D.O.B') }}</th>
                                <th>{{ _('Phone number') }}</th>
                                <th>{{ _('Date registered') }}</th>
                                <th>{{ _('Package name') }}</th>
                                <th>{{ _('Count') }}</th>
                                <th>{{ _('History') }}</th>
                                <th>{{ _('Price') }}</th>
                                <th>{{ _('Memo') }}</th>
                            </tr>
                        </thead>
                        <tbody id="statistics_table_body">
                        </tbody>
                        <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>                        
                        </tr>
                    </table>
                    <br />
                    <!--
                    <div class="total_div">
                        <span>{{ _('Total Revenue') }} : </span>
                        <span></span>
                    </div>
                        -->
                    <br />
                    <br />
                </div>
                <ul class="pagination" id="package_pagnation">
                </ul>
             </div>
        </div>
    </div>
</div>

<div id="patient_package_history_modal" class="modal fade">
    <div class="modal-dialog Edit_Reception_modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span> <span class="sr-only">close</span></button>
                <h4>{{ _('Package History') }}</h4>
                    <div id="modalBody" class="modal-body" >
                        <table class="table table-bordered table-hover table-striped" id="patient_package_history_list">
                            <thead>
                                <tr>
                                    <th>{{ _('No') }}</th>
                                    <th>{{ _('Patient Name') }}</th>
                                    <th>{{ _('Precedure Name') }}</th>
                                    <th>{{ _('Round') }}</th>
                                    <th>{{ _('Date Bought') }}</th>
                                    <th>{{ _('Date Used') }}</th>
                                </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>

                    </div>
                    <div style="margin-top:10px;">
                        <div style="text-align:right;">
                            <input type="button" value="{{ _('Close') }}" class="btn btn-default" data-dismiss="modal"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>

</div>

{% endblock %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/statistics/statistics_pkg.css' %}" />
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

{% endblock %}

{% block scripts %}
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.js"></script>
<script src="{% static 'js/statistics/statistics_package.js' %}" type="text/javascript"></script>
{% endblock %}