{% extends "app/layout.html" %}

{% load staticfiles %}
{% block content %}
{% csrf_token %}
<div class="inventory_precedure_grid">
    <div class="statistics_grid partition">
        <div class="statistics_table_wrap">
            <span class="btn btn-danger inventory_table_title_span">{{ _('Customer Info Statistics') }}</span>
            <div style="float:right; margin-right:100px;">
                <input type="hidden" value="MEDICINE" id="revenue_search_type" />
                <!--Date-->
                <div class="date_input_div" style="{% if user.doctor %} margin-right:0px; {%endif%}">
                    {{ _('Date')}}:
                    <input type="text" class="form-control date_input" id="date_start" /> ~
                    <input type="text" class="form-control date_input" id="date_end" />
                </div>

                <!--Depart-->
                <div class="input-group contents_filter_div" id="contents_filter_div_depart" style="{% if user.doctor %} display:none; {%endif%}">
                    <span class="input-group-addon">{{ _('Depart') }}</span>
                    <select id="contents_filter_depart" class="form-control" aria-describedby="basic-addon1">
                        <option value="">{{ _('All') }}</option>
                        {% for data in depart_medical %}
                        <option value="{{ data.code }}" {% if user.doctor.depart.id is data.code %} selected {%endif%}>{{ data.name }}</option>
                        {% endfor %}
                    </select>
                </div>

            </div>
            <div class="statistics_table_grid">
                <div id="statistics_div_gender">
                    <label class="btn btn-primary sub_label">{{ _('Gender') }}</label>
                    <table class="table table-hover table-striped table-bordered" id="statistics_table_gender">
                        <thead>
                            <tr>
                                <th>{{ _('Gender') }}</th>
                                <th>{{ _('Count') }}</th>
                                <th>{{ _('Revenue') }}</th>
                            </tr>
                        </thead>
                        <tbody id="statistics_table_body_gender">
                        </tbody>
                    </table>
                </div>
                <div id="statistics_div_nation">
                    <label class="btn btn-primary sub_label">{{ _('Nationality') }}</label>
                    <table class="table table-hover table-striped table-bordered" id="statistics_table_nation">
                        <thead>
                            <tr>
                                <th>{{ _('Nationality') }}</th>
                                <th>{{ _('Count') }}</th>
                                <th>{{ _('Revenue') }}</th>
                            </tr>
                        </thead>
                        <tbody id="statistics_table_body_nation">
                        </tbody>
                    </table>
                </div>
                <div id="statistics_div_payment_method">
                    <label class="btn btn-primary sub_label">{{ _('Payment Method') }}</label>
                    <table class="table table-hover table-striped table-bordered" id="statistics_table_payment_method">
                        <thead>
                            <tr>
                                <th>{{ _('Payment Method') }}</th>
                                <th>{{ _('Count') }}</th>
                                <th>{{ _('Revenue') }}</th>
                            </tr>
                        </thead>
                        <tbody id="statistics_table_body_payment_method">
                        </tbody>
                    </table>
                </div>
                <div id="statistics_div_age">
                    <label class="btn btn-primary sub_label">{{ _('Age') }}</label>
                    <table class="table table-hover table-striped table-bordered" id="statistics_table_age">
                        <thead>
                            <tr>
                                <th>{{ _('Age') }}</th>
                                <th>{{ _('Count') }}</th>
                                <th>{{ _('Revenue') }}</th>
                            </tr>
                        </thead>
                        <tbody id="statistics_table_body_age">
                        </tbody>
                    </table>
                </div>
            
                <div id="statistics_div_top20">
                    <label class="btn btn-primary sub_label">{{ _('Top 20') }}</label>
                    <table class="table table-hover table-striped table-bordered" id="statistics_table_top20">
                        <thead>
                            <tr>
                                <th>{{ _('No') }}</th>
                                <th>{{ _('Name') }}</th>
                                <th>{{ _('Date of Birth') }}</th>
                                <th>{{ _('Gender') }}</th>
                                <th>{{ _('Phone') }}</th>
                                <th>{{ _('Lastest Visit') }}</th>
                                <th>{{ _('Total Amount') }}</th>
                            </tr>
                        </thead>
                        <tbody id="statistics_table_body_top20">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/statistics/statistics_customer_info.css' %}" />
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

{% endblock %}

{% block scripts %}
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.js"></script>
<script src="{% static 'js/statistics/statistics_customer_info.js' %}" type="text/javascript"></script>
{% endblock %}