{% extends "app/layout.html" %}

{% load staticfiles %}
{% block content %}
{% csrf_token %}
<div class="inventory_precedure_grid">
    <div class="statistics_grid partition">
        <div class="statistics_table_wrap">
            <span class="btn btn-danger inventory_table_title_span">{{ _('Yearly, Monthly, Weekly Statistics') }}</span>
            <div style="float:right; margin-right:95px;">
                <!--Date-->
                <div class="input-group contents_filter_div" style="width:150px;">
                    <span class="input-group-addon">{{ _('Year') }}</span>
                    <select id="contents_filter_year" class="form-control" aria-describedby="basic-addon1">
                        <option value="2020">2020</option>
                        <option value="2021">2021</option>
                        <option value="2022">2022</option>
                        <option value="2023">2023</option>
                    </select>
                </div>

                <!--Depart-->
                <div class="input-group contents_filter_div" id="contents_filter_div_depart">
                    <span class="input-group-addon">{{ _('Depart') }}</span>
                    <select id="contents_filter_depart" class="form-control" aria-describedby="basic-addon1">
                        <option value="">{{ _('All') }}</option>
                        {% for data in depart_medical %}
                        <option value="{{ data.code }}">{{ data.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="statistics_table_grid">
                <div id="statistics_div_left">
                    <label class="btn btn-primary sub_label">{{ _('Year') }}</label>
                    <table class="table table-hover table-striped table-bordered" id="statistics_table_year">
                        <thead>
                            <tr>
                                <th>{{ _('Year') }}</th>
                                <th>{{ _('Count') }}</th>
                                <th>{{ _('Revenue') }}</th>
                            </tr>
                        </thead>
                        <tbody id="statistics_table_body_year">
                        </tbody>
                    </table>
                    <label class="btn btn-primary sub_label">{{ _('Days of the Week') }}</label>
                    <table class="table table-hover table-striped table-bordered" id="statistics_table_dayweek">
                        <thead>
                            <tr>
                                <th>{{ _('Days of the Week') }}</th>
                                <th>{{ _('Count') }}</th>
                                <th>{{ _('Revenue') }}</th>
                            </tr>
                        </thead>
                        <tbody id="statistics_table_body_dayweek">
                        </tbody>
                    </table>
                    
                    <hr>
                    <label class="btn btn-primary sub_label">{{ _('Old and new people in this month') }}</label>
                    <div>
                        <table class="table table-hover table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>{{ _('Old People') }}</th>
                                    <th>{{ _('New People') }}</th>
                                </tr>
                            </thead>
                            <tbody id="old_new_people_table_body">
                            </tbody>
                        </table>
                    </div>
                </div>
                <div id="statistics_div_middle">
                    <label class="btn btn-primary sub_label">{{ _('Monthly') }}</label>
                    <table class="table table-hover table-striped table-bordered" id="statistics_table_month">
                        <thead>
                            <tr>
                                <th>{{ _('Month') }}</th>
                                <th>{{ _('Count') }}</th>
                                <th>{{ _('Revenue') }}</th>
                            </tr>
                        </thead>
                        <tbody id="statistics_table_body_month">
                        </tbody>
                    </table>
                </div>
                <div id="statistics_div_right">
                    
                    <label class="btn btn-primary sub_label">{{ _('Hourly') }}</label>
                    <table class="table table-hover table-striped table-bordered" id="statistics_table_hour">
                        <thead>
                            <tr>
                                <th>{{ _('Hours') }}</th>
                                <th>{{ _('Count') }}</th>
                                <th>{{ _('Revenue') }}</th>
                            </tr>
                        </thead>
                        <tbody id="statistics_table_body_hour">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/statistics/statistics_ymw.css' %}" />
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

{% endblock %}

{% block scripts %}
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.js"></script>
<script src="{% static 'js/statistics/statistics_ymw.js' %}" type="text/javascript"></script>
{% endblock %}